[2014-09-17 10:47] dragon66 opened #1 "Better way to create and manage EXIF data"

[2014-10-06 06:34] dragon66 opened #2 "JPEG lossless and lossy rotation"
Add function to rotate JPEG lossslessly and lossily

[2014-10-06 06:38] dragon66 opened #3 "Color palette optimazition when creating animated GIF"

[2014-10-07 11:43] dragon66 opened #4 "TIFF read support"
Finish TIFF reader

[2014-12-09 02:58] bigsquirrel opened #5 "can have any idea on android?"
most open source lib support is not good.

[2015-01-09 15:05] #3 closed

[2015-01-09 15:08] dragon66 opened #6 "JPEG read support"
In progress - coming to the final part of decoding Huffman code and reconstruct the YCbCr sample data

[2015-01-09 15:10] dragon66 commented on #4
Need to finish CCITT and JPEG compression format

[2015-02-01 15:32] jantekb opened #7 "Logging to a logger instead of System.out"
Hi,

I came across your icafe library yesterday, when I was looking for a library to handle animated gifs. I would like to use it in my project, but the scattered logging to `System.out` is not too handy. I would expect a library to log via slf4j or logback, allowing it to seamlessly integrate with a bigger application. Do you have plans to change it? I am thinking about forking your project on gi

[2015-02-01 21:56] dragon66 commented on #7
Hi Balazs,

Thanks a lot for your interest in the code. The logging problem you are saying is definitely an issue which needs to be addressed. Only I am tied up with other high priority issues like metadata manipulation and JPEG reading support. The many System.out were mainly used for quick debug during the process of my early development. They will either go into metadata reading part or logging

[2015-02-04 06:00] dragon66 commented on #1
Completely rewritten.

[2015-02-04 06:00] #1 closed

[2015-02-11 16:51] dragon66 opened #8 "API to work with XMP data"
Adobe XMP is considered a better metadata format and it support customized metadata entries. Currently "icafe" can extract, show, and insert XMP data as a whole in XML DOM format. It's better to have some API or else to manage the namespace, schema, etc. Adobe already has an API XMPCore. I am investigating more about the XMP format and may take a look at the XMPCore too.

[2015-02-12 09:15] haraldk commented on #8
Just a comment: Personally, I'd just use Adobe's XMP toolkit for Java, as it already has a liberal [OSS license (BSD)](http://www.adobe.com/devnet/xmp/library/eula-xmp-library-java.html), unless you have an idea for a much better API. :-)

I started creating [my own API](https://github.com/haraldk/TwelveMonkeys/tree/master/imageio/imageio-metadata/src/main/java/com/twelvemonkeys/imageio/metadata/x

[2015-02-12 13:29] nightscape opened #9 "Publish on Maven central or Bintray"
Hi!

For easier consumption, it would be great if the Jar were hosted somewhere.
Maven central is the standard, but publishing to Bintray is much easier.
Anyway, some place where one could automatically retrieve the Jar via Maven, SBT, ... would be great!

Thanks
  Martin

[2015-02-12 14:24] dragon66 commented on #8
Hi haraldk, thanks for your comment. Maybe you are right. I will try using Adobe API.

[2015-02-12 15:22] dragon66 commented on #9
Hi, Martin,

Thanks a lot for your comment. Looks like it's time for me to do some work to ease the build and publish it for ease usage

[2015-03-22 12:51] dragon66 commented on #5
There are more some requirements from users to be able to use the metadata management functionality in Androit. Thinking about creating a new repository for metadata related code which will be standalone without dependency on java.awt.* package.

[2015-03-23 15:53] dragon66 commented on #5
Ported to Android and created new pixymeta-android repository. Not yet tested on Andorid device. Need help to do it.

[2015-03-24 15:49] dragon66 commented on #5
Tested pixymeta-android with Nexus4 virtual device. Close this issue here, any further issues to pixymeta-android repository.

[2015-03-24 15:49] #5 closed

[2015-04-28 14:45] RevanProdigalKnight commented on #9
Has anything been done about this?

[2015-04-28 14:53] dragon66 commented on #9
Hi RevanProdigalKnight:

Not yet. I had never worked with Maven before and still busy with other stuff. Is it possible you or someone else help doing this?

[2015-05-31 04:16] dragon66 commented on #7
Replaced System.out with slf4j. Currently for testing purpose, log4j is used with logging level DEBUG. For production, turn off the logging, or set debugging level to WARN or ERROR for efficiency.

[2015-05-31 04:16] #7 closed

[2015-06-14 20:43] dragon66 opened #10 "Rewrite NativeMetadata to use an EnumMap as it's internal container"
For ease of use, it would be better to use an EnumMap as the internal container for NativeMetadata. We can then create and populate the NativeMetadata inside an ImageReader and retrieve the EnumMap and query it by enum key specific for that kind of image. - may need to create enum type for GIF specific native metadata.  For JPEG, use Marker as key and for PNG, use ChunkType instead. TIFF may not n

[2015-06-14 20:51] dragon66 commented on #8
The final version of the implementation doesn't rely on any specific way to create the XMP data. It start with the input XMP and insert it into images or extract XMP and show it in XML format.

[2015-06-14 20:59] dragon66 opened #11 "Replace legacy test with JUnit test"
Current testing classes inside the cafe.test package do not provide any other ways then exception to indicate whether or not the tested unit is working. Migrating to JUnit test will solve the problem.

[2015-06-28 21:16] dragon66 commented on #9
Planning to publish a SNAPSHOT Maven repository soon

[2015-06-29 21:33] dragon66 commented on #9
Added ant task to publish on Maven.

[2015-06-29 21:33] #9 closed

[2015-07-02 15:35] dragon66 opened #12 "Add native metadata like JPEG APP0, APP12, APP14 etc to MetadataType"
Currently, the MetadataType enum only supports common meta data types which could be found in more than one image/media formats - like EXIF, ICC_PROFILE, IPTC, PHOTOSHOP IRB, XMP etc.  We need to add native metadata types as well.

[2015-07-04 03:20] dragon66 commented on #10
There is not need for NativeMetadata and related code and they have been removed from the source. So close this issue.

[2015-07-04 03:20] #10 closed

[2015-07-04 03:23] dragon66 commented on #12
Added JPEG APP12 and APP14 support.

[2015-07-05 16:18] dragon66 commented on #12
Added PNG textual chunk support

[2015-07-10 14:08] dragon66 commented on #12
Added PNG tIME chunk support

[2015-07-13 14:37] dragon66 commented on #12
Added JPEG APP0 (JFIF with thumbnail) support

[2015-07-17 01:12] dragon66 opened #13 "Parsing private TIFF Tag 37724 - Adobe Photoshop Document Data Block""
This tag is Adobe private TIFF tag with a structure similar to Photoshop Image Resource Block with building block 8BIM.

[2015-07-22 15:23] dragon66 commented on #13
The following information is available for this tag:

Adobe Photoshop specific image source data tag. This section has the layer and mask information found in a typical layered Photoshop file.
Field: ImageSourceData
Tag: 37724 (935C.H)
Type: UNDEFINED
Count: number of bytes for section
The section starts with a character string of "Adobe Photoshop Document Data Block" including the null terminatio

[2015-07-22 15:26] dragon66 commented on #13
The structure is actually different from the Image Resource Block 8BIM and there is no information regarding the endianess of the data.

[2015-07-23 23:58] dragon66 commented on #13
The information about the structure of this tag data is limited and the structure of the testing images I found are inconsistent. The "types" are actually not treated as string but integer type. The problem is the byte order could be either big or little endian. To make things worse, it is even inconsistent with the  TIFF container itself: a big endian TIFF container could have little endian 37724

[2015-07-24 01:00] dragon66 commented on #13
Photoshop CC 2015 refused to open the 2 images which has inconsistent 37724 tag data (the size of the "Layr" type are all wrong for these 2 images). The only one Photoshop opened is the one with 37724 tag data byte order the same as the TIFF container.

[2015-07-25 04:04] dragon66 commented on #13
Added simple implementation classes DDB and DDBEntry for Tag 37724. Need further work to read actual entry like "Layr" etc.

[2015-07-25 17:35] dragon66 commented on #13
Added DataBlockType enum to work with DDB.

[2015-07-29 23:15] dragon66 commented on #13
Added simple support for DDB

[2015-08-17 14:56] dragon66 opened #14 "Write animated GIF frames one at a time"
In order to reduce memory consumption, there should be a way to write animated GIF frames one at a time. Currently, "icafe" write them from an array of BufferedImages which could be a problem if lots of frames are involved or the frames are large.

[2015-08-18 00:57] dragon66 commented on #14
Done!
Now we can write animated GIF like this:
// Start writing animated GIF frame by frame to save memory
		GIFWriter animatedGIFWriter = new GIFWriter();
		// Set logical screen width and height to zero to use first frame width and height
		GIFTweaker.prepareForWrite(animatedGIFWriter, fout, 0, 0);
		for(int i = 0; i < images.length; i++)
			GIFTweaker.writeFrame(animatedGIFWriter, fout, images[

[2015-08-18 01:04] #14 closed

[2015-09-08 15:29] martin1yness opened #15 "Support javax.ImageIO JDK framework"
The current implementation requires that a specific API be used if this library is included. It would be ideal to become a provider of the standard API like: https://github.com/jai-imageio/jai-imageio-core

[2015-09-08 17:43] dragon66 commented on #15
Hi martin1yness, thanks for your comments.

For some historical  reason, "ICAFE" was not intended to be part of the plugin framework for Image IO API and it's structure is quite different from that of Image IO too. But yes, you've got a point here. I took a look at the linked project and it seems no longer being maintained. I forked it and will see if I can keep it going by adding more functions f

[2015-09-09 08:55] haraldk commented on #15
Hi,

Sorry for jumping in this issue. I'm also a big fan of your work on ICafe! :-)

@martin1yness Have you considered [TwelveMonkeys ImageIO](http://haraldk.github.io/TwelveMonkeys/) (disclosure: I'm the main author)? It seems to be a good fit to the description, as it's mostly plugins for ImageIO (using the `javax.imageio` API), and adding support for many of the same formats as ICafe.

Best reg

[2015-09-11 11:09] #15 closed

[2015-09-12 22:37] dragon66 opened #16 "Add better quantization algorithm"
Currently, the only quantization algorithm used is "popularity". It's quick and produces good result if combined with dither process. But sometimes, when better image quality is required, we need a better algorithm. We may not even need a dither process in this case.

[2015-09-12 22:58] dragon66 commented on #16
Added Xiaolin Wu's color quantization algorithms (see Graphics Gems vol. II, pp. 126-133). The resulting image quality is excellent even without dither. The only thing left is to figure out a way to automatically deal with transparent color.

[2015-09-14 11:45] dragon66 opened #17 "Support for image resize"
Add scale (resize) Implementation following Chris Campbell suggestions in "
The Perils of Image.getScaledInstance()
April 3, 2007
"

[2015-09-19 03:56] senneko opened #18 "TIFFTweaker.splitPages doesnt release the images"
Hey,

I need to make a split of a Multi TIFF, but later move the Single TIFF image to other folder, even the Multi TIFF. But the problem is tha tthe lib doesnt release some of the Single TIFF and the Multi TIFF.

I check the source, but I cant find any reason.

Thanks.

[2015-09-19 13:20] dragon66 commented on #18
Hi @senneko, thanks for trying "icafe".

The problem you mentioned could be caused by the fact that neither RandomAccessInputStream nor RandomAccessOutputStream closes the underlying Input or Output stream when you close the random streams themselves. The reason for this design is sometimes we need to wrap the input or output stream for a while and hand back the underlying stream to the initial cr

[2015-09-19 20:24] dragon66 commented on #18
Update: also added a closeAll() method to RandomAccessInputStream and RandomAccessOutputStream to close internal streams as well as the random stream itself. Now we can close all the streams in one call as needed (in the case we don't need the underlying stream to remain open after we close the random stream.

[2015-09-20 03:30] #18 closed

[2015-09-24 21:22] dragon66 commented on #16
Added code to automatically deal with transparency.

[2015-09-24 21:23] #16 closed

[2015-09-24 23:02] kpassoubady opened #19 "Receiving the below error after downloading the jar file using mvn"
Hi: The code used to work correctly, no changes made, but now I receive the below errors, can you please check:

[ERROR] [19,22] package cafe.image.gif does not exist
[ERROR] [20,17] package cafe.util does not exist
[49,32] cannot find symbol
  symbol:   variable FileUtils
  location: class com.invitae.framework.utils.CommonUtil
[ERROR] cannot find symbol
  symbol:   variable GIFTweaker
  location

[2015-09-24 23:35] dragon66 commented on #19
@kpassoubady:

Sorry to hear about that. The truth is "ICAFE" finally has a domain name to begin with and all the package names have been changed from cafe.* to com.icafe4j.* ...

[2015-09-25 00:50] dragon66 commented on #19
New Maven dependency setup:

<dependency>
  <groupId>com.github.dragon66</groupId>
  <artifactId>icafe</artifactId>
  <version>1.1-SNAPSHOT</version>
</dependency>

[2015-09-25 13:52] #19 closed

[2015-09-27 19:03] dragon66 commented on #18
OK, there actually is better way to do it and I decided to take the responsibility to make it conform to Java IO stream contract and the user now don't need to worry about the dangling open stream anymore.  I ended up added a shallowClose() method to close the random access stream and leave the stream open if needed. The closeAll() method added before is now replaced by the well-known close() meth

[2015-09-28 04:09] dspurling opened #20 "UnsupportedOperationException from JPEGTweaker.insertExif"
I am getting this exception when call insertExif from JPEGTweaker

java.lang.UnsupportedOperationException
	at java.util.Collections$UnmodifiableMap.put(Unknown Source)
	at com.icafe4j.image.tiff.IFD.addChild(Unknown Source)
	at com.icafe4j.image.jpeg.JPEGTweaker.insertExif(Unknown Source)
	at arpm.image.ImageAdjuster.addMetadata(ImageAdjuster.java:215)
	at arpm.image.ImageAdjuster.main(ImageAdjus

[2015-09-28 14:08] dragon66 commented on #20
Hi @dspurling:

This is a bug. I have fixed it. Check the latest build.

[2015-09-28 15:56] #20 closed

[2015-10-07 20:42] dragon66 opened #21 "Enhancement to extract individual GIF frame as GIFFrame"
In some occasions like we want to modify an existing animated GIF, it would be ideal if we could grab the frame as GIFFrame. Then we can modify the properties such as the delay of it and save the frames back as an animated GIF.

[2015-10-08 13:41] dragon66 commented on #21
Some major changes need to be done. For now I will just leave it as is!

[2015-10-08 13:41] #21 closed

[2015-10-08 13:44] dragon66 commented on #17
A simple implementation based on Chris's original multi-step implementation for scaling down is added. For scale up one step implementation is used.

[2015-10-08 22:14] dragon66 commented on #21
Removed frame specific methods from GIFReader. Added FrameReader to read GIF frame one at a time.

[2015-11-13 13:24] the21st opened #22 "EOFException when reading a gray 1x1 png"
Hi! I am getting an exception when loading a PNG that both OSX Preview, Photoshop and Chrome can load: https://cloud.githubusercontent.com/assets/4610874/11146632/46cbeaf4-8a10-11e5-8ead-696cab4fac82.png

My code:
[code]

Stack trace:
[code]

This was on version 1.1-SNAPSHOT.

[2015-11-14 01:41] dragon66 commented on #22
@the21st : The error message you see indicates a corrupted image which don't have enough bytes for the decoder to read. I tried loading both locally and through the URL you provided but didn't have any problem with it using the current build.

[2015-11-14 01:51] dragon66 commented on #22
This is the logging info I got:

2015-11-13 20:50:14,236 [main] INFO  com.icafe4j.image.reader.PNGReader - --- PNG IMAGE INFO ---
2015-11-13 20:50:14,243 [main] INFO  com.icafe4j.image.reader.PNGReader - image width: 1
2015-11-13 20:50:14,243 [main] INFO  com.icafe4j.image.reader.PNGReader - image height: 1
2015-11-13 20:50:14,243 [main] INFO  com.icafe4j.image.reader.PNGReader - image bit depth:

[2015-11-16 12:31] the21st commented on #22
@dragon66 : Sorry, it seems github re-encoded the PNG file during upload. Here's a zip archive containing the png in question https://dl.dropboxusercontent.com/u/73774/loadtest-grayscale.zip

The logging I get:
[code]

[2015-11-17 00:32] dragon66 commented on #22
@the21st : I still can't reproduce the error using the image from the downloaded loadtest-grayscale.png from the zip file.

[2015-11-18 11:50] the21st commented on #22
I think I found the problem. I am only getting the exception when I use
[code]

When I replaced it by `FileInputStream` or use an http URL (such as the github one), it works. Any idea why this might be a problem? I am using `file:` URLs with ImageIO and there were no problems.

[2015-11-18 13:45] dragon66 commented on #22
@the21st : interesting finding. I can reproduce it now only if I go directly from PNGReader. I will fix this later. Thanks a lot for bring it up.

[2015-11-18 23:46] dragon66 commented on #22
Problem found! When reading PNG image, we'll skip the chunks we're not interested in. This is fine as long as we skip the whole length of the chunk. The image in question contains XMP data which usually is large and when working with file URL, for some reason, it doesn't skip the whole length of the XMP data which are wrapped in a text chunk. Now we force it to fully skip the supposed length of by

[2015-11-18 23:51] #22 closed

[2015-11-19 11:27] the21st commented on #22
Thank you!

[2015-11-30 17:37] kpassoubady opened #23 "java.lang.OutOfMemoryError: Java heap space"
Hi,
  In your document, you have said, " To save memory, we can also write animated GIF frame by frame!"
  Can you provide an example? I'm getting Java Heap Space error due to all the images are written out in a single shot.
GIFTweaker.writeAnimatedGIF(images, delays, fout);

Thanks
Kangs

[2015-11-30 22:57] dragon66 commented on #23
@kpassoubady, you can do something like this:
--java
GIFWriter animatedGIFWriter = new GIFWriter();
53 		animatedGIFWriter.setImageParam(builder.applyDither(true).build());
54 		// Set logical screen width and height to zero to use first frame width and height
55 		GIFTweaker.prepareForWrite(animatedGIFWriter, fout, 0, 0);
56 		for(int i = 0; i < images.length; i++)
57 			GIFTweaker.writeFrame(ani

[2015-12-01 16:27] #23 closed

[2015-12-01 17:25] kpassoubady commented on #23
Thank You so much. Your input helped a lot.

Thanks
Kangs

Kangeyan Passoubady

On Tue, Dec 1, 2015 at 8:27 AM, dragon66 <notifications@github.com> wrote:

[2015-12-10 17:13] dragon66 commented on #4
Close this one for now. New issues will be open for CCITT and JPEG

[2015-12-10 17:13] #4 closed

[2015-12-10 17:15] dragon66 opened #24 "TIFFReader support for CCITT Fax"
Currently TIFFReader has no support for CCITT Fax compression. This is a common format which we need to support.

[2016-01-12 02:39] reecefenwick opened #25 "java.lang.OutOfMemoryError processing large multi page PDF to TIFF"
I am attempting to convert a 10mb PDF (40 pages) to a multi-page TIFF

I have the following code:

I'm using org.apache.pdfbox to process the PDF.

[code]

This works quite well on smaller images.

But obviously buffering everything in memory will only get you so far, in my case I run out of heap space.

Have you got any examples to create the multipage tiff more efficiently?

[2016-01-12 02:55] dragon66 commented on #25
@reecefenwick: yes, you could have a look at issue https://github.com/dragon66/icafe/issues/23 which for animated GIF but there is a similar function inside TIFFTweaker.

[2016-01-20 20:36] #25 closed

[2016-01-30 21:08] dragon66 opened #26 "Performance problems with usage of icafe"
Original question from Prashant Bandewar

Jan 22 at 4:18 AM

I am using the icafe 1.1 version for one of my projects. The requirement is to split a multi-page tiff file and based on a criteria split it  either into single or two page tif files. The splitimages method in TiffTweaker was not useful as it will split only into single pages so I modified the TiffTweaker and gave a custom implementation

[2016-01-30 21:13] dragon66 commented on #26
You only need to create RandomAccessInputStream one time and read in a list of IFDs. Keep it open until you finish all the split. You do need to create a RandomAccessOutputStream for each split file with either one or two pages.
This is the revised version I tried and it works.
[code]

[2016-01-30 21:18] #26 closed

[2016-02-02 22:16] reecefenwick commented on #25
Thanks @dragon66 ! Solved my memory problems  with your suggestion and it's very stable now

[2016-04-19 21:31] jhidalgo93 opened #27 "Error generating images color tif"
At the time to get a page of a PDF and apply convertToImage ( BufferedImage.TYPE_INT_RGB , 300) did not save the color image in grayscale only

[2016-04-20 00:54] dragon66 commented on #27
Hi @jhidalgo93,

I don't have enough information to figure out exactly how you used icafe to generate the TIFF. Basically if you set image parameter and let icafe to generate grayscale, it will generate all the pages in grayscale unless you change the parameter to let it generate color in the middle of the process. I guess you set it to generate grayscale in the beginning. If you set it to color,

[2016-04-20 01:13] jhidalgo93 commented on #27
Could you give me an example of that parameter should add to the generated tiff out color.

The example I'm following is

import java.awt.image.BufferedImage;
import java.io.FileOutputStream;
import java.io.IOException;

import org.apache.pdfbox.pdmodel.PDDocument;
import org.apache.pdfbox.pdmodel.PDPage;

import com.icafe4j.image.ImageColorType;
import com.icafe4j.image.ImageParam;
import com.ica

[2016-04-20 02:22] dragon66 commented on #27
If you use Compression.CCITTFAX4, the only choice is black and white since that is what CCITTFAX4 do.

1) Use a different compression like Compression.LZW or Compression.DEFLATE.
2) Set ImageParamBuilder colorType like this builder.colorType(ImageColorType.INDEXED) builder.colorType(ImageColorType.FULL_COLOR), the later one will generate larger image but may or may not improve the quality of the o

[2016-04-20 02:25] jhidalgo93 commented on #27
Thank you very much for your answer tomorrow when I get to the office as aplicare

Greetings from Colombia

[2016-04-20 02:27] dragon66 commented on #27
You are welcome. Also take a look at the wiki page for icafe and there are a bunch of test cases inside the test folder of the project.

[2016-04-20 12:25] jhidalgo93 commented on #27
Thank you very much your answer worked for me

[2016-04-20 15:10] #27 closed

[2016-04-20 20:03] jhidalgo93 opened #28 "compile Java 1.6 support"
This library can compile the java 1.6?

I have a problem using classes as my contender this in java 1.6

[2016-04-20 23:16] dragon66 commented on #28
Hi @jhidalgo93,

The source code of this library is Java 1.5 compliant. I compiled it using Java 1.7 without explicit setting code compliance. So if you use the compiled code with Java 1.6, it won't work. You can either compile the source code using version 1.6 or grab a new build soon.

[2016-04-21 00:10] jhidalgo93 commented on #27
You could release a version compiled in Java 1.6 because in my work environment can not use maven to do it myself ?

[2016-04-21 00:10] jhidalgo93 commented on #28
You could release a version compiled in Java 1.6 because in my work environment can not use maven to do it myself ?

[2016-04-21 00:17] dragon66 commented on #28
New build version with 1.5 compliant is done it should work with higher version of Java like 1.6

[2016-04-21 00:37] jhidalgo93 commented on #28
In the repository is also the upgrade ?

https://oss.sonatype.org/content/repositories/snapshots

[2016-04-21 01:07] dragon66 commented on #28
Yes, it is icafe-1.1-20160420.232009-61.jar

[2016-04-21 01:10] jhidalgo93 commented on #28
You 're the best friend .

Tomorrow when I get to the office I 'll try thanks

[2016-04-21 13:23] jhidalgo93 commented on #28
i have error

java.lang.UnsupportedClassVersionError: com/icafe4j/image/options/ImageOptions : Unsupported major.minor version 51.0 with new version library

[2016-04-21 15:59] jhidalgo93 commented on #28
I run the class verifier and the output is the following

class file version is 51.0
You need to use JDK 7 or above

Please help me friend

[2016-04-21 17:18] dragon66 commented on #28
I know why it failed. I still need a compiler lower or equal 1.6 to make it works for you case. I don't have one installed on my machine. That's why I didn't compile it using a 1.6 compiler. I will compile it again later with a 1.5 compiler

[2016-04-21 17:51] jhidalgo93 commented on #28
I thank him immensely friend

[2016-04-22 02:46] dragon66 commented on #28
See the new build which is supposed to be 1.5 binary compatible.

[2016-04-22 11:19] jhidalgo93 commented on #28
thanks friend

[2016-04-23 16:25] #28 closed

[2016-05-19 03:26] reecefenwick opened #29 "ArrayIndexOutOfBoundsException when writing out tiffs across multiple threads"
I'm currently using this library (1.1-SNAPSHOT) to:
- Convert PDF to TIFF
- Write out modified TIFFs

I am running this in a spring-boot application and exposing the above functionality as a web service.

I've just encountered an issue, that I realise has been here all along - just unbeknown to me.

The issue occurs when concurrent requests (on separate threads) come through where both threads are

[2016-05-19 13:54] dragon66 commented on #29
@reecefenwick : one of the things about icafe is that it is never meant to be used in a multithreading environment. That said, I will take a look at the issue when time allowed but don't expect too much from it.

[2016-06-15 07:57] cod91 opened #30 "How do you change the dpi of tif-file ?"
How do you change the dpi of tif-file?

[2016-06-15 16:26] dragon66 commented on #30
@cod91 That's one the thing I left out when I wrote the TIFF writer and related stuff. I thought about put that into the code before but never really did it. I believe it could be done this way: add a new parameter to GIFOptions for DPI and add a check to TIFFWriter for the DPI and add a new TIFF field to the output image.

I will take a look at it when I have time later

[2016-06-16 04:23] dragon66 commented on #30
Added new parameters to TIFFOptions to set X resolution, Y resolution, as well as resolution unit.
[code]

[2016-06-16 05:05] cod91 commented on #30
Thank you for helping us take time

[2016-06-16 05:05] #30 closed

[2016-08-06 15:31] ivanooi opened #31 "Failed modify WINDOWS_XP_TITLE info"
Hi,

this is the code.

JpegExif exif = new JpegExif();
      exif.addImageField(TiffTag.WINDOWS_XP_TITLE, FieldType.BYTE, "".getBytes("UTF-16LE"));

it managed to modify Windows XP comments, subject but failed on Authors and Title.
Please note that, all this fields already contained info. Ijust wanted to modify the info.

Any ideas ?
Thanks

[2016-08-06 15:47] ivanooi commented on #31
Really hope for your help as I use this library to create an app for volunteers... big thanks

[2016-08-06 18:29] dragon66 commented on #31
@ivanooi    Can you give more details including the code works and don't work.

[2016-08-06 21:07] dragon66 commented on #31
@ivanooi For any Windows related tags, the FieldType should be FieldType.WINDOWSXP not FieldType.BYTE. Also you don't need to use "".getBytes("UTF-16LE"), just use the String itself. Refer to TestMetadata.java for more details.

[2016-08-07 00:50] ivanooi commented on #31
Hi,

I just download the latest jar but..
it still failed making modification on that fields. THis is my test code :+1:

      FileInputStream fin = new FileInputStream("RW_KL20151213_hyx02_012.JPG");
      FileOutputStream fout = new FileOutputStream("thumbnailAdded.jpg");

//      TiffExif exif = new TiffExif();
      JpegExif exif = new JpegExif();

      DateFormat formatter = new SimpleDateFo

[2016-08-07 01:02] dragon66 commented on #31
What is the error message? Can you put your sample photo somewhere?

[2016-08-07 01:05] ivanooi commented on #31
Can I email you the photo ?

There;s no error throw.

This are the few exceptions that I catch :+1:

      } catch (FileNotFoundException e) {
         e.printStackTrace();
      } catch (UnsupportedEncodingException e) {
         e.printStackTrace();
      } catch (IOException e) {
         e.printStackTrace();
      }
Thanks again

[2016-08-07 01:10] dragon66 commented on #31
@ivanooi Email the photo to me.

[2016-08-07 01:12] ivanooi commented on #31
sent. Thanks! Thanks! Thanks!

[2016-08-07 01:28] dragon66 commented on #31
I will take a look and let you know as soon as possible.

[2016-08-07 01:34] ivanooi commented on #31
Big Thanks! :+1:  :100:  :-D

really need your help. lot lib failed in this area. including common imaging.

[2016-08-07 14:26] dragon66 commented on #31
@ivanooi I figured out what is wrong here:

The problem:
1). The photo you provided has both EXIF and XMP and both of the them contain some of the common tags. The tags in XMP take precedence if in Windows, you right click the image->properties->details as I tested. So even if you have changed EXIF, some of the tag values will still be showing as before because they are the tag values contained in

[2016-08-07 15:33] dragon66 commented on #31
@ivanooi There are two free tools which can view the EXIF metadata after you add them:
1. JPEGSnoop
2. XnViewMP

Download them and cross check the output image from icafe.

[2016-08-07 18:08] ivanooi commented on #31
Hi, you are right! ya, some how Windows store the info in XMP! What a surprise! Look like I need to remove the XMP info.. Thanks! Thanks! Thanks!!

[2016-08-07 21:06] #31 closed

[2016-08-15 15:13] huffstler opened #32 "Add extra info to closed issue #29"
This isn't about iCafe per se.

I would like to add some extra information to the bottom of issue #29 (which is closed) to help others who come across it, like I did.

If you can add this (or open it for a short amount of time, so I can include one more comment) I'll add the following at the very bottom:

`I would like to leave a comment for anyone else who might find this while searching for a fi

[2016-08-15 15:16] dragon66 commented on #32
@huffstler I reopened the issue so that you can add your comments. Thanks for your consideration!

[2016-08-15 15:36] huffstler commented on #29
I would like to leave a comment for anyone else who might find this while searching for a fix to their problems (like I did). The built in concurrency mechanism that dragon66 is talking about is the synchronize() block. Info about it can be found [here](https://docs.oracle.com/javase/tutorial/essential/concurrency/locksync.html).

[2016-08-15 15:42] huffstler commented on #32
Thank you very much! Everything is added.

[2016-08-15 15:42] #32 closed

[2016-08-15 15:45] dragon66 commented on #29
@huffstler Thanks a lot for coming back to add information which will benefit other users!

[2016-08-15 15:45] #29 closed

[2016-08-22 01:00] ivanooi opened #34 "Any example of how to write info into XMP ?"
Hi,

Any example of how to write info into XMP ?

Found this but going no where...
JpegXMP

Thanks

[2016-08-22 01:15] dragon66 commented on #34
Up to now, icafe doesn't contain any API to create XMP itself. I once opened an enhancement issue for this but didn't carry it out. If you want to create XMP document itself, try Adobe [Java XMP API](http://www.adobe.com/devnet/xmp/library/eula-xmp-library-java.html)

[2016-08-22 01:25] dragon66 commented on #34
I have reopened the following [issue](https://github.com/dragon66/icafe/issues/8)  in the hope that I will give it another try some day.

[2016-08-22 01:26] ivanooi commented on #34
I see.... but Adobe XMP is a read only API. No write API. and I found out Apache Imaging failed to handle array elements which used by MS. as you pointed out in previous message.

great! Thanks!

[2016-08-22 01:45] dragon66 commented on #34
@ivanooi This blog talks about CC License Tagging which uses Adobe API and ICAFE to create and insert XMP to image for Creative Commons. You may find it useful too.

[2016-08-23 23:25] #34 closed

[2016-08-24 06:52] ilvZuo opened #35 "How to covert tif to jpeg use icafe? Thanks.."
How to covert tif to jpeg use icafe? Thanks..

[2016-08-24 07:01] dragon66 commented on #35
@ilvZuo To convert TIFF to JPEG, you need first read it into a BufferedImage and write it in JPEG format. ICAFE currently partially support reading TIFF and if you find it couldn't read your TIFF, use the included jai-imageio library to read it and use icafe to save as JPEG.

[2016-08-25 14:12] #35 closed

[2016-09-21 04:26] ivanooi opened #36 "RAW images"
Hi,

  Will you support RAW images as well ? Nice if icafe can support LibRaw. LibRaw is a libraries for developer that support most of the RAW images out there and they do support Mac and Win. too bad, there's no JNI support for this library...
http://www.libraw.org/

Thanks

[2016-09-22 02:18] dragon66 commented on #36
@ivanooi There is the possibility in the future icafe will support RAW images but I am pretty much occupied by my current work. But I will put it on my wish list. Thanks for bring this up!

[2016-12-22 17:24] magiclen opened #37 "Does com.icafe4j.image.ImageIO write interlaced images?"
Your project is very perfect. But it seems that it does not support the export of interlaced GIF, PNG and JPG images. Or maybe I didn't find it.

[2016-12-22 18:18] dragon66 commented on #37
@magiclen no, it doesn't. First of all, personally I don't see a lot of practical usage for it nowadays given the improvement of hardware. Second, it is harder and inefficient to write interlaced images.

[2016-12-22 18:41] magiclen commented on #37
I see, you have done well!

I prefer interlaced images, so I will use my way to convert them(ImageMagick is a great tool to do that).

Thanks for your prompt reply!

[2016-12-22 19:03] #37 closed

[2017-02-13 20:25] sinedsem opened #39 "NegativeArraySizeException when try to write XMP"
Hello, it's me again. `Metadata.insertXMP()` produces an exception for certain images.

Problem images:
https://github.com/sinedsem/test/blob/master/1.jpg
https://github.com/sinedsem/test/blob/master/2.jpg
https://github.com/sinedsem/test/blob/master/3.jpg
https://github.com/sinedsem/test/blob/master/4.jpg

Code to reproduce issue:

        File source = new File("1.jpg");
        File destination

[2017-02-13 21:23] dragon66 commented on #39
@sinedsem There is a bug in icafe code when JPEG APP1 field length is less than certain number of bytes. I am going to check in a fix for this. After that, your issue will be fixed.

[2017-02-13 21:50] dragon66 commented on #39
Replace the case APP1 in JPEGTweaker.insertXMP with the following will solve the issue:
[code]

[2017-02-13 22:11] sinedsem opened #40 "Can't delete anything from IPTC metadata and preserve Clipping Path."
Some people insert outlines in their JPEG images, which are named "Clipping path". There are a few articles about this, e. g. http://designus.sk/the-secret-path-of-jpg-images/

Here I have an example of image with clipping path: https://github.com/sinedsem/test/blob/master/clipping_path.jpg

In addition to clipping path, this image has one IPTC Keywords tag - keyword.
Let's say I want to remove th

[2017-02-13 22:16] sinedsem commented on #39
@dragon66 will you commit this or you are just telling me what to do?

[2017-02-13 22:54] sinedsem commented on #40
As I see from text editor, a significant part of metadata is being cut off when calling `insertIPTC(.., .., .., false)`, which is defenitely not an IPTC

[2017-02-13 23:00] sinedsem commented on #40
Very similar issue on SO for Objective-C, with no provided solution =(
http://stackoverflow.com/questions/32160528/read-non-standard-properties-from-an-image-in-objective-c

[2017-02-13 23:05] sinedsem commented on #40
This article https://www.graphicsmill.com/docs/gm/clipping-path.htm says that

so I don't think that `insertIPTC` should remove them.

[2017-02-14 01:03] dragon66 commented on #39
@sinedsem I have checked in a new build.

[2017-02-14 07:18] sinedsem commented on #40
I tried going a little more deeper, and that's what I've found:

[code]

Stack Trace:

    java.lang.IllegalArgumentException: Copy range out of array bounds
	at com.icafe4j.util.ArrayUtils.subArray(Unknown Source)
	at com.icafe4j.image.meta.adobe.IRB.read(Unknown Source)
	at com.icafe4j.image.meta.Metadata.ensureDataRead(Unknown Source)
	at com.icafe4j.image.meta.adobe.IRB.get8BIM(Unknown Source)

[2017-02-14 09:03] sinedsem commented on #39
@dragon66, big thank you for the fix! All works! Closing issue.

[2017-02-14 09:03] #39 closed

[2017-02-14 15:47] dragon66 commented on #40
@sinedsem When you call insertIPTC with update = true, it basically says keep all the other stuff from Photoshop IRB and insert IPTC. Otherwise it will replace the whole IRB with only the IPTC inserted. That is what you have seen with your test and that is exactly what icafe is supposed to do.

I am not sure what do you mean by saying "I can't delete tags, only add." What tags are you trying to de

[2017-02-14 16:23] sinedsem commented on #40
@dragon66 Yes! Thank you very much for the answer!

What I am trying to do is to delete all `IPTCApplicationTag.KEY_WORDS` entries from my image and then insert another `IPTCApplicationTag.KEY_WORDS` entries, but preserve **all** other information that was in image.

The way you've described works perfectly: firstly call `removeMetadata(.., .., MetadataType.IPTC)` to get rid of all previous IPTC,

[2017-02-14 18:29] dragon66 commented on #40
@sinedsem To answer your question:
1. Yes, IPTC is one of the 8BIM block. All the 8BIM blocks together become Photoshop IRB (Image Resource Block) metadata. It is actually called IPTC_NAA ( You can find an entry from ImageResourceID.java for it called IPTC_NAA("IPTC-NAA record.", (short)0x0404)). In the testing image you provided, the Working Path 8BIM block is right before the IPTC_NAA 8BIM block

[2017-02-14 19:09] sinedsem commented on #40
Thanks, I am completely fine with your answers.

[2017-02-14 19:09] #40 closed

[2017-02-14 19:57] dragon66 commented on #40
@sinedsem By the way, thanks for offering a beer! That's exactly what I need sometimes to keep icafe rolling given the workload I have day to day.

[2017-02-14 20:11] sinedsem commented on #40
@dragon66 I insist you answer my email sent today..

[2017-02-15 19:54] sinedsem opened #41 "IllegalArgumentException: Copy range out of array bounds - please don't kill me :-("
Hi.. You know what happens, when [about 400 users](http://saranaisoft.com/en/) actively use your library? They find bugs...

Here I have an image: https://github.com/sinedsem/test/blob/master/5.jpg . Poor image, what happened with you? One evil user removed all metadata from you using [XnView](http://www.xnview.com/en/).

Now when I try to read metadata with icafe `Metadata.readMetadata("5.jpg");`

[2017-02-15 20:59] dragon66 commented on #41
@sinedsem subArray method is not the cause of the issue. The real issue is although the user is supposed to have removed all the metadata but actually only the data itself is removed while leaving an empty metadata container - a Photoshop IRB which contains a zero size 8BIM block.

When I wrote ICAFE, I first had "correctness" in mind but not "completeness". Now that we've got about 400 users, ICA

[2017-02-15 21:29] dragon66 commented on #41
@sinedsem I checked in a one line fix, please check to see if that fix the issue.

[2017-02-15 22:33] sinedsem commented on #41
@dragon66 I have no more files to check, but I I think I will release another version of my app, 0.0.7, tomorrow and let that user check it himself.

BTW, can you confirm that when icafe reads metadata, it doesn't read the whole image file, but only it's beginning?

[2017-02-15 23:27] dragon66 commented on #41
@sinedsem No really. It will read until SOS (start of scan) as metadata can be scattered through the whole image and only until the SOS segment, can we be sure there are no more metadata come. Anyway, if we are going to insert or remove metadata, we will have to copy to the end of the image for the rest of the image start from SOS.

[2017-02-16 06:29] sinedsem commented on #41
@dragon66, it seems I need to narrow my question. When it comes to 7000x7000 points jpeg, is it faster to read metadata and get thumbnail (if there is one) than read the whole image and resize it to make a thumb?

[2017-02-16 15:16] dragon66 commented on #41
@sinedsem, still it's hard to answer this question as they are completely different processes. Generally speaking, resizing image will be slower and use way more memory because it will have to read the whole image and manipulate the raster data using different interpolation algorithm.

On the other hand, finding and extracting an existing thumbnail should be faster in most of the cases.

ICAFE its

[2017-02-16 20:48] #41 closed

[2017-02-16 20:48] sinedsem commented on #41
This is fixed.

[2017-02-16 21:43] sinedsem opened #42 "'B' char appears before unicode special symbols e. q. © symbol"
This issue appears not always. Basically, it depends on image file. Some files are ok, others procudes this issue. Example of a problem file: https://github.com/sinedsem/test/blob/master/6.jpg
[code]
Result: `I have В©`.

P. S. I really wish to prodive you more information when opening issues, but debugger goes crazy every time I try to step into icafe methods. No idea why.

[2017-02-17 00:29] dragon66 commented on #42
@sinedsem I can't reproduce the result you mentioned using the test image you provided.

[2017-02-17 00:32] dragon66 commented on #42
Before inserted IPTC:
[code]
After inserted IPTC:
[code]

[2017-02-17 01:49] dragon66 commented on #40
@sinedsem I actually found that you can use two steps instead of three steps to add both IPTC and XMP. Using the following step to replace removing and inserting IPTC:
[code]
Here is the createPhotoshopIPTC():
[code]

[2017-02-17 04:56] sinedsem commented on #42
Possibly something Locale-depended.. I'll check again myself.

[2017-02-17 12:42] sinedsem commented on #42
Ok, I am closing this issue, as it's definitely not related to icafe, but..

The following code prints correct string to console, but if I use FileOutput stream, I get 'B' symbol before ©
[code]

[2017-02-17 12:42] #42 closed

[2017-02-17 13:17] sinedsem commented on #42
Ok, I really sorry for opening this issue.
The problem that both Adobe Bridge and Exif tool uses `cp1251` uncoding, while I wanted to use `utf-8`.

[2017-02-17 17:57] dragon66 commented on #40
@sinedsem, on second thought, I believe this one has something related to the issue #41. After my fix for that one, I believe you can actually user insertIPTC with update = false to remove all the original IPTC and insert new IPTC at the same time. So only two steps are needed if you want to insert both IPTC and XMP.

[2017-02-17 19:24] sinedsem commented on #40
@dragon66 thanks a lot, I did as you suggested. In addition, I don't save to file between two steps (iptc and xmp), I save to byte array (using ByteArrayInputStream and ByteArrayOutputStream), this makes all even faster!

[2017-02-22 15:35] dragon66 opened #43 "Add support for inserting more than one metadata types to the image without creating temporary file"
There have been questions and requirements regarding inserting more than one metadata types into the image in one operation (method call) to avoid creating intermediate temporay files. This is the attempt to accomplish that purpose. Initially, we are not going to support update to the metadata. The old metadata of the same type as the inserted one will be replaced by the new one.

[2017-02-28 16:53] dragon66 commented on #43
For JPEG image, if APP1 EXIF segment exists in the original image and we want to insert new EXIF, the old EXIF data will be removed and the new one is inserted in place of the old one. All the other metadata will be inserted after EXIF. If there is no original EXIF and we need to insert EXif, we will first try to see if there is an APP0 JFIF segment. If it exists, we insert EXIF along with other m

[2017-03-02 04:16] dragon66 commented on #43
Finished partial implementation for JPEG image to insert EXIF, XMP, IPTC, and IRB.

[2017-03-03 00:59] dragon66 commented on #40
@sinedsem I added support to insert metadata to JPEG image in one step. You can check the TestMetadata.java for more details.

[2017-03-04 23:19] dragon66 commented on #43
Added insertMetadata() to TIFFTweaker. Now both JPEG and TIFF are supported. Closing this issue.

[2017-03-04 23:19] #43 closed

[2017-03-16 09:46] Lodurnorbel commented on #28
Hi, I downloaded your last version and can't compile it in Java 1.6.
I can't upgrade the version of my compiler so, could you help me with this issue?
Thank you very much.

[2017-03-16 17:46] dragon66 commented on #28
@Lodurnorbel what is the error message did you get? I only used Java 1.5 compatible features for ICAFE so there should be no issue to compile it using Java 1.6.

[2017-03-16 21:16] jhidalgo1 commented on #28
i have a stable version , you can write me apoloeam@gmail.com

[2017-03-17 08:04] Lodurnorbel commented on #28
Hi @dragon66, thanks for your early response
If I use the last version and I set up my project on Java 1.6 I get the following message:
`major version 51 is newer than 50, the highest major version supported by this compiler.`

And then, if I zip the folder in "build" folder with all the classes, I get this error:
`error: error reading ..\icafe-master\icafe-master\build\classes\icafe.jar; error in

[2017-03-25 19:22] Omnipresent opened #45 "Add to maven"
Hi

What are the plans to push this to regular maven so that it can be used by not using the SNAPSHOT mentioned in the README.md.

I understand that you have the last call on this but we are making use of this library but can not use `oss.sonatype.org/content/repositories/snapshots`. Just wondering what are the plans to push this to regular maven? I believe the library works fantastically

[2017-03-27 17:48] dragon66 commented on #45
@Omnipresent Thanks for the suggestion. Yes, there has been quite a while since the first snapshot but there are two items which I had been planning to put into the library before actually creating a release - TIFF reading support for CCITT and JPEG reading support as well as library to manage creation of XMP data. Currently TIFF and JPEG reading are still delegated to either Java ImageIO or a thi

[2017-03-27 19:01] dragon66 commented on #28
@Lodurnorbel looks like something is wrong with the settings when generating the build. I remember set it to Java 1.5 compliant. If you download the source without using the pre-compiled library, you should be able to compile it using Java 1.6.

[2017-03-29 09:14] ben-manes commented on #45
This would be useful and you could use the semver strategy of releasing a `0.x` to have no API stability, or move onto `2.x` to break it gently. Either way this is a useful library and versions are cheap.

Because the naming convention matches [jitpack.io's](https://jitpack.io/#dragon66/icafe), it gets confused and tries to build it when Gradle queries the repositories for metadata. That seems to

[2017-04-06 15:56] wkaczurba opened #46 "Support for writing 48bpp pngs? [question]"
I spent a bit of time playing with demos but I have failed to produce 48bpp png.
Does icafe support it? Is there a plan to support writing deep color pngs?

Thanks.

[2017-04-06 16:17] dragon66 commented on #46
@wkaczurba icafe doesn't support writing PNG with bits per color more than 8. By 48bpp PNG I assume you mean 16 bits per color totaling 48bpp without taking care of the alpha channel. I have no plan to add this function in the near future as I already has a few high priority items to work on.

[2017-04-06 16:19] dragon66 commented on #45
@ben-manes thanks a lot for your suggestions. Will take a look and see how far I can make it.

[2017-04-06 18:33] #46 closed

[2017-06-15 19:11] sinedsem opened #47 "RuntimeException: XMP data size exceededs JPEG segment size"
Hi @dragon66! It's me again from stockhelper again =)

As usual, file : https://github.com/sinedsem/test/blob/master/7.jpg

Stack trace:

P. S. Please find another glass of beer in your PayPal wallet =)

[2017-06-15 19:44] dragon66 commented on #47
Hi sinedsem,

Unfortunately you have hit one of the limit of icafe.

This is how it happens: for JPEG image, each metadata block could hold about 65536 bytes of data. When it comes to XMP, if the total size in bytes are within the rough limit of 65536, it will work automatically and insert that piece of data into the image. Otherwise, what should be done is the ability to split the large data trun

[2017-06-15 20:31] sinedsem commented on #47
@dragon66, yes, now I see, this image already has a lot of xmp data.

So, what should I suggest to the author of this pic? Manually clear unneccessary tags?

Are you going to fix this in future?

[2017-06-15 22:17] dragon66 commented on #47
@sinedsem Let me take a look tomorrow. If the user himself doesn't insert a very large trunk of data which exceeds the limit, there should be a way to do it.

[2017-06-27 20:25] adanecito opened #48 "No instructions on what jar(s) to use..."
Hi,
I want to read a jpeg from a servlet and can not find instructions on what jars to use. You have two main jars one 980kb and the other 2Mb so not sure why two and which to use and if there are more needed for compile and deploy.

[2017-06-27 23:03] dragon66 commented on #48
@adanecito All you need are the jars inside the lib folder. In there, you can choose the ***snapshot** which does not include the documents. This makes it smaller size. So the jars are

[2017-06-29 21:01] gcmvy3 opened #49 "TIFFTweaker duplicates image data for type 6 TIFFs"
Context:
I wrote a program using icafe that splits one large multipage TIFF into several smaller multipage TIFFs. I wanted to do this without decompressing the TIFFs (they mostly use type 6 JPEG compression), so I used the copyPages function from the TIFFTweaker class.

The problem:
The program worked, but the files it created were exactly twice the size they were supposed to be. After much debugg

[2017-06-30 02:31] #48 closed

[2017-06-30 04:04] dragon66 commented on #49
@BobsCandyCanes You are talking about the so called old-style JPEG compression type 6 which no longer supported by new TIFF writer.
     This compression can produce a lot of confusions and there could be duplicate tags which point to the same data.
     This is what happened in your case: the normal TIFF strip/tile and the JPEGInterchangeFormat tag both point to the same data. In TIFFTweaker copy

[2017-06-30 15:00] rav17 opened #50 "icafe jar is incompatible with jre1.5"
Hi,

i am unable to use icafe in my project because it runs on java 1.5 version and icafe jar file is compiled with version 1.7.

can i get icafe jar file compile in 1.5.

[2017-07-27 01:35] allhands8 commented on #50
I also can not use on java1.5.
but developer dragon66 said it can works on java 1.5
Is there anyone who know about it???

[2017-08-23 21:04] codingandmore opened #52 "Documentation Error class JPEGTweaker method insertXMP()"
The Javadoc for class JPEGTweaker states for method insertXmp:

Looking at the result and the source code, this seems to be incorrect. The tag xmpNote:HasExtendedXMP with the MD5 checksum is created by the function itself:
`

	...
                if(extendedXmp != null) { // We have ExtendedXMP
			guid = StringUtils.generateMD5(extendedXmp);
			NodeList descriptions = xmpDoc.getElementsByTagName("

[2017-08-25 16:12] dicer commented on #45
Same here. I use a very specific feature which works fine. Unfortunately can't use snapshots as this would make future builds potentially unstable/breaking. So I always create a version like 1.0-gitsnap10021d73 (git commit referenced) and push it to a private nexus.

Would be a lot easier to have an official version. One thing that might cause problems though (just a thought, no experience): The j

[2017-08-28 10:52] sinedsem opened #53 "A few questions about icafe"
Hello @dragon66!

It's me again. I would like to thank you again for your library. I respect that you support it and keep it free and open source.

However, I can see that you are not so passionate about icafe. I don't see new features are being implemented or enhancement issues are being closed. As a developer I can fully understand you.

But I don't want this project to die, so I think I will fo

[2017-08-28 12:36] dragon66 commented on #53
@sinedsem There have been quite a few things recently which have prevented me from adding new features and fixing some of the issues but ICAFE will not die for sure.

You are always welcome to fork and improve icafe.
As for the questions you asked:
1. I use Eclipse and there is no issue in debugging icafe.
2. Most of the ICAFE features were implemented during year 2013-2014 but the codecs of a few

[2017-08-28 12:45] sinedsem commented on #53
Ok, thanks for the reply. I will investigate your code and return with questions. I think I will use this thread to communicate

[2017-08-28 12:57] sinedsem commented on #50
OMG @allhands8 why do you need java 1.5 in 2017?
If you really need java 1.5 you can compile icafe yourselves. But I personally with icafe to migrate to java 8

[2017-08-28 14:11] dragon66 commented on #52
@codingandmore Thanks for the comment. I will fix it when I got a chance.

[2017-08-29 08:54] sinedsem commented on #45
@dragon66
I completely agree with @ben-manes
You can use semantic versioning and create e.g. 1.0.1 release as is, without TIFF and JPEG reading.
And when TIFF and JPEG reading will be implemented you can make 1.1 release.

Additionally it would be nice to refactor project structure a little to correspond [typical maven structure](https://maven.apache.org/guides/introduction/introduction-to-the-sta

[2017-08-29 08:57] sinedsem commented on #8
Any reasons to keep this issue open?

[2017-08-29 18:05] sinedsem commented on #47
@dragon66 I think we can use `XMPUtils.packageForJPEG()` from com.adobe.xmp.xmpcore library.
I will investigate more...

[2017-08-29 20:12] sinedsem commented on #47
Ok, I've figured out how to work with extended xmp:

[code]

this requires com.adobe.xmp.xmpcore library:
[code]

[2017-08-29 20:12] #47 closed

[2017-08-30 00:40] dragon66 commented on #8
@sinedsem I still want to implement my own version some day so keep it open as a reminder.

[2017-09-03 08:09] dragon66 commented on #47
@sinedsem I changed a bit of the JpegXMP class to auto split the XMP data into standard and extended XMP if the size is beyond the limit of one JPEG segment. Now you do without Adobe XMP core function to split the large XMP data.

[2017-09-03 12:48] #52 closed

[2017-09-03 12:50] dragon66 commented on #52
@codingandmore This is now fixed and added more comment as a result of automatic XMP data split implemented by JpegXMP.

[2017-09-05 22:34] shubhamvadhera opened #54 "Want to add some new functionalities"
Hello

I want to add 2 new features to the TiffTweaker module:

1. Ability to split the tiff file into byte array to allow in memory operations to the output file ( currently, it only writes the output to disk)
2. Ability to split the tiff file by number of pages (for ex - splitting a 9 page tiff file into 3 files of 3 pages each, instead of 9 single page files)

I had some questions:

1. Can I co

[2017-09-06 02:41] dragon66 commented on #54
@shubhamvadhera Thanks for your contribution. The first feature is useful in some cases. Regarding the second feature, what is the use case for that?

[2017-09-06 17:54] shubhamvadhera commented on #54
One of the use cases for #2 that we are currently using is -
Splitting a large TIFF file (such as 100 pages) to five 20 page files so that they can be:
1. Sent over network with bandwidth ans size restrictions
2. Sent to a parallel processing environment such as AWS Lambda so that files can be processed in parallel by 5 processes ( for example we need to process the file for image detection, proce

[2017-09-06 17:56] dragon66 commented on #54
@shubhamvadhera Great. Make sense. Go ahead. By the way, use the internal LOOGER object instead of System.out.println for logging and debugging purposes. Also, I changed a bit of the splitPages method to cope with different endian issue.

[2017-09-06 18:09] shubhamvadhera commented on #54
@dragon66 Thank You. Will keep these things in mind.

[2017-09-09 23:21] dragon66 commented on #54
@shubhamvadhera I have added the function to split a multiple page TIFF into smaller size TIFFs.

[2017-09-10 22:45] dragon66 commented on #54
@shubhamvadhera I have implemented the remaining functions you needed. Please check the latest update. Closing this comment.

[2017-09-10 22:45] #54 closed

[2017-09-10 22:47] dragon66 commented on #24
It's a long time since this I first open this issue. Now I will focus on this issue and hopefully to be able to finish it soon.

[2017-09-12 16:27] Omnipresent commented on #45
@sinedsem that would be a huge help. +1

[2017-09-14 06:59] ognjenm commented on #24
dragon66 this is great news. Thank you.

[2017-09-27 12:27] StefanGohlke opened #60 "JPEGTweaker.insertMetadata throws NullPointerException"
Hello,

in icafe-1.1-SNAPSHOT in class JPEGTweaker a NullPointerException may occur in function insertMetadata( starting at line 1063).

`if(eightBIMStream != null) {
					...
				  	}
					eightBIMStream.reset();`

Calling  eightBIMStream.reset() outside the null check resulted in a NullPointerException. It would be wise to add an else condition to create a new ByteArrayOutputStream to ensure  ei

[2017-09-27 20:05] kfredy opened #61 "Help resizing animated gif"
Hi,
I'm trying to resize a big 4M animated gif (I'm using GifDecoder but i'm getting out of Memory Exception so trying iCafe :-)). Note that i do not have access to disk so i need to resize frame by frame. (You have a note on that on the wiki but i could not figure out the process...)
i assume the first step will be splitting the image:
byte [] source=....;
ImageWriter writer = com.icafe4j.image.I

[2017-09-27 21:46] dragon66 commented on #60
@StefanGohlke Thanks for pointing this out. I have changed the code and checked in. I have some issue publish on Maven though.

[2017-09-27 21:49] #60 closed

[2017-09-27 22:03] dragon66 commented on #61
@kfredy Not sure if I understand you right but you already have a large animated GIF and you want to create a small animated GIF, right?

[2017-09-27 22:49] kfredy commented on #61
Yes exactly

[2017-09-28 00:42] dragon66 commented on #61
@kfredy This is how you can do it with ICAFE:
1. Create a FrameReader which is a subclass of GIFReader used to read animated GIF frame by frame and return them as GIFFrame instances.
`FrameReader reader = new FrameReader();
GIFFrame frame = null;
while ((frame = reader.getGIFFrameEx()) != null) {
// do something with the frame
}
`
2. Initialize GIFTweaker to write animated GIF frame by frame like

[2017-09-28 19:15] kfredy commented on #61
Thanks for the information. I'll take a look later on. BTW i think it will be a great addition to the package. Thanks again

[2017-09-28 19:30] dragon66 commented on #61
@kfredy All the ingredients are there I just put them together for your specific case. If I see a relatively reasonable number of demands for this function, I can definitely add it to the package.

[2017-10-09 00:11] #61 closed

[2017-10-21 18:24] ben-manes opened #62 "Tiff compression setting not honored"
An integration partner requested that we use CCITTFAX Group 4, which you implemented. However, they said that it the sample file was in fact PACKBITS. Using imagemagik `identify --verbose` it merely says RLE.

Digging into the code, [TIFFWriter.java#L679](https://github.com/dragon66/icafe/blob/master/src/com/icafe4j/image/writer/TIFFWriter.java#L679) appears to reset the `compression`. One would a

[2017-10-23 00:46] dragon66 commented on #62
@ben-manes I have done some changes to check supported compression types for each image type. If certain compression type is not supported by an image type, a UnsupportedCompressionException will be thrown instead of falling back to the all potential PackBits compression.

[2017-10-23 14:29] ben-manes commented on #62
Thanks, looks good!

[2017-10-23 16:28] #62 closed

[2017-10-23 20:44] dragon66 commented on #50
As a result of not being able to access a personal computer, I haven't been able to do any new Maven publish for quite a long time. I can't provide help regarding this for the time being.

[2017-10-25 11:04] THausherr opened #63 "IndexOutOfBoundsException risk in TIFFTweaker.writeMultipageTIFF()"
The first loop (at line 3344) in TIFFTweaker.writeMultipageTIFF() may throw an exception which results in a stack trace being written. If the exception happens before `list.add(writer.getIFD());`, then list could be empty or too small at line 3358 in the second loop., which would result in an IndexOutOfBoundsException.

Same in the other method with the same name.

=> consider rethrowing the excep

[2017-10-26 01:11] dragon66 commented on #63
@THausherr Thanks for pointing this out. In stead of throw new exception, I would rather use the list size instead of the image array size to perform the second loop and in the end check to make sure at least we have one page in the list before writing it to the output. I have checked in the changes.

[2017-10-26 07:13] THausherr commented on #63
But doesn't this bring the risk that if there's a (swallowed) exception, that not all pages are written and the user won't notice it?

[2017-10-26 13:55] dragon66 commented on #63
@THausherr That's a tradeoff. Depending on the users expectation. Sometimes it's better than nothing. If you have a concern, log something when the pages expected are not the same as the page actually created.

[2017-10-27 21:51] #63 closed

[2017-11-14 23:30] ben-manes opened #64 "javax.media:jai_imageio:1.1 FAILED"
Due to `maven.geotoolkit.org` being down, this dependency cannot be resolved. It might be worth using the dependency from a more reliable repository, such as Central. That version, sadly, does not include the jar. There a [release](https://repository.jboss.org/nexus/content/repositories/thirdparty-releases/javax/media/jai-core/1.1.3/) on JBoss' though.

There also appears to a [fork](https://githu

[2017-11-15 00:27] dragon66 commented on #64
This dependency on jai_imageio has long been bothering me and I have been trying to finish my own TIFF decoder for a very long time. Unfortunately I have been too busy to finish this.

 As a result, ICAFE itself cannot handle all/most of the tiff variations so for the time being, we still have to rely on third party library to read TIFF.

I took a look at the links you put and maybe the fork will

[2017-11-15 00:29] ben-manes commented on #64
I switched to the JBoss version for the time being, which passed my basic jpeg->tiff test.

[2017-11-15 01:54] dragon66 commented on #64
That's good news with only one caveat - that version may need some native libraries which may not be available on some platforms.

[2017-11-15 03:28] ben-manes commented on #64
Oh sorry, my use-case is only to write multi-page TIFFs for customer integrations. I tweaked the test a bit to read from a TIFF file and it worked. So promising workaround until you have a preferred solution.

[2017-12-06 04:47] dragon66 commented on #24
Update: Group 3, 1-dimensional sample/Test implementation is finished. Group 3, 2-dimensional is in progress.

[2017-12-13 20:14] dragon66 commented on #63
After much struggling, I have finally decided to replace e.printStackTrace() with logging and throwing RuntimeException.

[2017-12-14 12:01] THausherr commented on #63
Consider changing
`throw new RuntimeException("Failed writing page " + pageNumber);`
to
`throw new RuntimeException("Failed writing page " + pageNumber, e);`
for people who have turned logging off, or don't have access to it.

[2017-12-14 17:13] dragon66 commented on #63
@THausherr good point. Checked exception will be favored where at least partial result is acceptable like in multipage TIFF creation case.

[2018-01-08 16:21] Omnipresent commented on #45
Hello - Just wondering whether icafe will be on maven soon and what the timeline looks like. Thank you for your continued work on this project.

[2018-01-08 18:15] dragon66 commented on #45
I am in the middle of doing the coding CCITT Group 3 and 4 decompression for TIFF but not sure when this will be done. I tried to restructure the code to conform to Maven a while ago after sinedsem's comment but had some issue and didn't got time to look at it further. I have trouble to reconcile the Eclipse and Ant build with Maven as well as split the code between test and main.

To be frank, I

[2018-01-09 01:51] ben-manes opened #65 "TIF metadata field count"
An integration partner shared this screenshot of warnings. I don't think its blocking, as the issue was regarding increasing our default DPI setting, but thought you should know in case there is an offset mistake somewhere.

![image](https://user-images.githubusercontent.com/378614/34701291-39a834ce-f49c-11e7-877a-cc9da0081201.png)

[2018-01-09 15:51] dragon66 commented on #65
@ben-manes I don't know the details regarding how icafe is used in your case: did you generate tiff with icafe? manipulate it with icafe or other.

The specific tiff field with name DateTime is a ASCII field and the count is expected to be 20 with the format specified by the specification.

When reading the tiff field, icafe will follow the field type and count without any assumption. So it the fi

[2018-01-09 17:16] ben-manes commented on #65
I think that you write it in [TIFFWriter.java#L487](https://github.com/dragon66/icafe/blob/3aabc3a27efe2342f303cac58003df3bd9223304/src/com/icafe4j/image/writer/TIFFWriter.java#L487). The image is fine and wasn't a problem.

In our case we have to create multi-page TIFFs for integrations with legacy products that our customers own. Our usage is very simple, but they are finicky given they are ofte

[2018-01-09 17:17] #65 closed

[2018-01-09 18:23] dragon66 commented on #65
@ben-manes you know icafe more than me now!  I vaguely remember wrote that somewhere and did a search this morning but didn't find it!

Interesting. I will take a look at that part and related things to see if I need to enforce something.

Great find. Thank you.

By the way, which part of the application code logged that warning? I guess it's not icafe.

Wen

[2018-01-09 18:29] ben-manes commented on #65
I have no idea. The partner sent that screenshot and mentioned poor quality
due to the group4 conversation they require. I just forwarded this along in
case it helped you somehow.

On Tue, Jan 9, 2018 at 10:23 AM dragon66 <notifications@github.com> wrote:

[2018-01-09 19:40] dragon66 commented on #65
I took a look at the DateTime formatting in TIFFWriter and checked with the tag format requirement, looks like I added a time zone there which does make sense but that caused the field length to become 24 instead of 20. Will change it.

[2018-01-10 05:42] ben-manes commented on #65
Thanks a bunch for all your hard work and quick responses on this library :)

[2018-01-22 16:26] dragon66 commented on #53
@sinedsem I can point you to some documents related to tiff. If you want, let me know.

For now, I am going to close this question.

[2018-01-22 16:26] #53 closed

[2018-03-13 07:44] llech opened #66 "TIFFReader damages TIFF file when the BufferedImage content is accessed."
Actual behaviour:

I've created a simple test for reading the content of the TIFF:

[code]

This code invokes no operations modifying the content of original file, however after invoking it, the content of the original file was destroyed. All frames were replaced with black background.

Expected behaviour:

The TIFFReader reads the file content, and not modifies it in any way, especially the destr

[2018-03-13 11:26] ivanooi opened #67 "Anyway to write the exif back to the original image?"
Hi,

  Is there anyway to write the exif back to the source/ original image? instead of create another one.

Thanks
Ivan

[2018-03-13 16:21] dragon66 commented on #66
@llech I believe the issue you found is because you write to the same image file from which you read the image.

[2018-03-13 16:27] #66 closed

[2018-03-13 16:37] dragon66 commented on #67
@ivanooi As manipulating metadata involving copy the content from the original image to the resulting image and inserting new content to the resulting image all at the same time, you can't do it with the same source.

The only way I can come up is to use a temp file to hold the resulting image and in the end, you can either delete the original image, rename the temp file to the original one or mov

[2018-03-13 17:45] ivanooi commented on #67
I see...how bout turn the source into byte array?
Will that help?

Thank you so much
Ivan

[2018-03-13 19:35] dragon66 commented on #67
@ivanooi Do you mean read the source into a byte array and then override the source? Probably fine but sounds fishy and definitely not a good idea for production.

[2018-03-13 20:30] ivanooi commented on #67
I see ...Thanks !

[2018-03-13 20:30] #67 closed

[2018-03-13 20:32] ivanooi opened #68 "Failed to read XMP data"
Hi ,

I got an example image which contained XMP data but iCafe failed to read it. Or i miss some things ?

Anyway i can send you the sample code and image ?

Thanks

[2018-03-13 21:42] dragon66 commented on #68
@ivanooi Please send the image and code to me. I would like to do a test.

[2018-03-13 22:07] ivanooi commented on #68
Hi ,

Sample code and image sent to your email
yuwen_66@yahoo.com

Thanks again
Ivan

[2018-03-14 00:37] dragon66 commented on #68
@ivanooi I can see the icafe read XMP information perfectly. What made you think icafe failed to read XMP?

[2018-03-14 01:06] ivanooi commented on #68
Oh! That Great! Is it some things wrong with code ?

[2018-03-14 01:33] ivanooi commented on #68
fin = new FileInputStream("test.JPG");//20171209_214631

         Map<MetadataType, Metadata> metadataMap = Metadata.readMetadata( fin );

         int i = 0;
         for(Map.Entry<MetadataType, Metadata> entry : metadataMap.entrySet()) {
            System.out.println( i + "=" + entry.getKey());
            entry.getValue().showMetadata();
            i++;
         }

         XMP xmp = (XMP)met

[2018-03-14 04:40] ivanooi commented on #68
Hi.

Is it I need the latest source? If I used the pre-compiled jar files. This is the result I get :

SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See http://www.slf4j.org/codes.html#StaticLoggerBinder for further details.
0=EXIF
1=XMP
2=IMAGE
xmp
null

xmpDoc
null

[2018-03-14 15:20] dragon66 commented on #68
@ivanooi You need to include a few libraries including the logging library which is SLF4J. The null output is not a big deal as that happens to DOM document model. Although it shows null, there is actually nothing wrong. The final result will be fine.

I tested with your code, it is working fine. I am not sure why you commented out the last line which actually do the insertion of XMP to the target

[2018-03-14 22:15] ivanooi commented on #68
Hi ,

Thanks for your help. You are right! I managed to grab the XML using the XMLUtils .
I commentted that out as just wanted to test only. I will post the few statements here.

Yape ! Thanks alot ! It work as advertise 😂
I'm switching from Apache library to iCafe now

[2018-03-14 23:20] #68 closed

[2018-03-25 22:22] ivanooi opened #69 "Failed to find a way to read JPEG XP Comments"
Hi,

  I'm so sorry. I can't find a way to read the XP Comments data out.,,

Exif exif = (JpegExif)metadataMap.get(MetadataType.EXIF );
exif.getImageIFD().getFieldAsString( TiffTag.WINDOWS_XP_COMMENT )

and it return this :
[0x10,0x30,0xF3,0x97,0xA7,0x63,0x11,0x30,0x49,0x84 ...] => 【音控】葉曙欽（濟洸）在測試音響testing 123..

anyway that I can just get the real comments?

Thanks

[2018-03-26 00:37] dragon66 commented on #69
@ivanooi you can try this: TiffTag.WINDOWS_XMP_COMMENT.getFieldAsString(exif.getImageIFD().getField( TiffTag.WINDOWS_XP_COMMENT ).getData()).

It is a bit complex as WINDOWS_XP_COMMENT is actually a byte type field not a ASCII field. Hope this will work for you.

Wen

[2018-03-26 01:10] ivanooi commented on #69
Thanks! it work! ya... not easy to figure out this. Nice if this will included in wiki as well. :-D 👍

Thanks

[2018-03-26 01:22] ivanooi commented on #69
hmm...sorry, this 2 a bit strange. the 2nd statement able to return the value but not the 1st one.

         lobj_value = TiffTag.COPYRIGHT.getFieldAsString(exif.getImageIFD().getField( TiffTag.COPYRIGHT).getData());
         System.out.println(lobj_value);

         System.out.println("COPYRIGHT=" + exif.getImageIFD().getFieldAsString( TiffTag.COPYRIGHT ));

[2018-03-26 02:45] dragon66 commented on #69
@ivanooi to make it consistent, I have changed the IFD.getFieldAsString(Tag) method. Please pull the latest change and give it a try. From now on, the second one will work for all cases.

[2018-03-26 03:35] ivanooi commented on #69
Great! Thanks! :-D

[2018-03-26 14:38] #69 closed

[2018-03-29 09:18] ivanooi opened #70 "Remove TiffTag.WINDOWS_XP_KEYWORDS"
Hi,

  I would like to clear Mircosoft keywords/tags field before I add a set of new keywords in.
but it did not clear and insert a new one in.

            exif.getImageIFD().removeField( TiffTag.WINDOWS_XP_KEYWORDS );

            exif.addImageField(TiffTag.WINDOWS_XP_KEYWORDS, FieldType.WINDOWSXP, "123" );
            exif.addImageField(TiffTag.WINDOWS_XP_KEYWORDS, FieldType.WINDOWSXP, "abc" );

[2018-03-29 13:01] ivanooi commented on #70
sorry , my fault.

You had done a very good job!

there is no need to call remove,...

exif.addImageField(TiffTag.WINDOWS_XP_KEYWORDS, FieldType.WINDOWSXP, "123;abc" );

thanks

[2018-03-29 13:01] #70 closed

[2018-03-29 14:45] dragon66 commented on #70
Great you figure it out.

[2018-04-01 16:40] ivanooi opened #71 "Return Thumbnails as byte array?"
Hi,

  Is there anyway to return Thumbnails as byte array?

Thanks

[2018-04-01 18:26] dragon66 commented on #71
Please make it more clear: there are several types of thumbnails. Some are in specific image formats and others in raw formats like BufferedImage. What is your use case and why do you want byte array representation?

[2018-04-01 19:12] dragon66 commented on #71
ICAFE has a special data type called Thumbnail to handle different kinds of thumbnails. Internally, it is either in Tiff/Jpeg or BufferedImage which we call it raw format. I am not sure what exactly you mean by saying return thumbnail as byte array. The current implementation detail is: if it is in Tiff or Jpeg format, you cangrab it as a byte array in that format otherwise you can grab it as Buff

[2018-04-01 22:39] ivanooi commented on #71
This is the sample code. directly convert byte array into image and display it into SWT table row.

               inputStreamReader = new BufferedInputStream( new ByteArrayInputStream( lbyt_array ));

               image = new org.eclipse.swt.graphics.Image( Display, new ImageData( inputStreamReader ));

               itblitm_row.setImage( 1, image ); //Photo

Thanks

[2018-04-01 23:33] dragon66 commented on #71
Try this - first assume you have already got a Thumbnail instance called thumbnail:
// To get a Thumbnail, you can either create one or extract it from a Metada.readMetadata. I assume you
// got it from the later.
int dataType thumbnail.getDataType();
if(dataType == Thumbnail.DATA_TYPE_KJpegRGB || dataType == Thumbnail.DATA_TYPE_TIFF) {
    lbyt_array = Thumbnail.getCompressedData();
    inputStre

[2018-04-02 01:25] ivanooi commented on #71
Hi,

I found this
Metadata.extractThumbnails

but it return nothing.

I can't find this statement
Thumbnail.getCompressedImage();

Thanks again

[2018-04-02 01:28] ivanooi commented on #71
oh! do you mean I need to read the image as byte array?

or is there anyway that  Metadata.extractThumbnails return byte array?

Thanks

[2018-04-02 01:35] ivanooi commented on #71
I believe should be like this :

         metadataMap.get(MetadataType.IMAGE );
         Exif exif = (JpegExif)metadataMap.get(MetadataType.EXIF );
         ExifThumbnail thumbnail = exif .getThumbnail();
         thumbnail.getCompressedImage();

Am I right?

[2018-04-02 01:55] dragon66 commented on #71
That's one specific way of get Exif thumbnail. A generic way is:
[code]

[2018-04-02 02:32] ivanooi commented on #36
Hi,

  Any chances this will supported in this year ? :-P
Thanks

[2018-04-02 02:38] dragon66 commented on #36
Frankly speaking, I am not sure. Too busy with all kinds of things.

[2018-04-02 03:58] #71 closed

[2018-04-30 20:48] dragon66 opened #72 "Implement Iterable interface for Metadata"
There was no direct way to iterate through a specific Metadata in ICAFE before. The showMetadata() method is not consistently implemented for all the Metadata types. To make it easier for user to iterate over a Metadata type in a uniform way, we need to introduce an iterator.

[2018-04-30 20:57] dragon66 commented on #72
What we have done is make the Metadata class to implement Iterator interface which can iterate over a collection of MetadataItem. MetadataItem itself is defined using composite pattern so that a MetadataItem itself can contain a collection of MetadataItem. This is similar to the menu design. While traversing the MetadataItem collection, there is also a flag we can use to detect whether or not it i

[2018-04-30 21:05] dragon66 commented on #72
![image](https://user-images.githubusercontent.com/7292053/39450258-b1bf7860-4c98-11e8-8fab-cf69ff02f715.png)

[2018-05-01 00:33] #72 closed

[2018-05-28 19:33] suncds-git opened #73 "Java out of memory exception"
When reading/writing images for large tiff files, receiving Out of Memory exception error.  This is occurring whenever multiple tiffs are being read, or written - TiffReader.read() TiffTweaker.insert pages() and TIFFTweaker.writeMultipageTIFF(.  I am working with some rather large multi page tiff files.  Is there a way to read/write a single tiff page at a time, and also append to existing tiff fi

[2018-05-28 22:11] dragon66 commented on #73
For inserting pages or writing multiple pages Tiff, there are methods available to handle pages one at a time. For inserting, the method combinations are prepareForInsert(), insertPage(called multiple times), finishInsert(); for writing multiple page Tiff, the corresponding methods are

[2018-05-28 23:43] suncds-git commented on #73
Thanks, Wen for your quick reply.  I am reviewing the TiffReader.read() method,  This method is reading and storing all the images in the method's scope, which is causing an out of memory error.  You are correct that the first page is being returned from a List object.  I believe that I do need the capability of reading one tiff image at a time, so that the image may be read and then appended to t

[2018-05-28 23:52] dragon66 commented on #73
I will write something similar to FrameReader for GIF image to work with TIFF pages one by one. Will check in the code tonight.

[2018-05-30 02:18] #73 closed

[2018-06-03 16:20] ibrahimrajabli commented on #40
hi dragon66. i need help. where i can write question? here? i ask here yet.
 first my exception and after code
[code]
`BUILD FAILED (total time: 0 seconds)`

[code]

[2018-06-03 22:43] dragon66 commented on #40
@ibrahimrajabl when you do the build please include the jars in the lib folder. This will fix the issue.

By the way, you should open a new issue instead.

Wen

[2018-06-04 15:11] dragon66 opened #74 "Exception in thread "main" java.lang.NoClassDefFoundError: org/slf4j/LoggerFactory"
hi dragon66. i need help. where i can write question? here? i ask here yet.
 first my exception and after code
[code]
`BUILD FAILED (total time: 0 seconds)`

[code]

[2018-06-04 15:13] dragon66 commented on #74
@ibrahimrajabl when you do the build please include the jars in the lib folder. This will fix the issue.

Wen

[2018-06-04 15:13] #74 closed

[2018-06-13 00:48] ivanooi commented on #5
Hi, does pixymeta-android features same as current？

Thanks

[2018-06-13 00:58] dragon66 commented on #5
It's kind of old. I haven't work on this for quite a while.

[2018-06-13 01:36] ivanooi commented on #5
Is there anyway that I can use the lastest icafe and mix with pixymeta-android? I love the current icafe features. especially the way it handle EXIFT and XMP

[2018-06-13 01:40] dragon66 commented on #5
@ivanooi you can't mix them together. I will try to update them hopefully soon.

[2018-06-13 01:47] ivanooi commented on #5
thanks :-D  Especially EXIF and XMP

[2018-06-19 20:09] dragon66 commented on #5
@ivanooi I did some change to the pixymeta-android according to your request. Can't guarantee I have caught all the changes made in ICAFE. If you found anything inconsistent, just let me know.

[2018-06-19 21:22] ivanooi commented on #5
wow! Thanks!!

[2018-06-21 14:23] abdullaunais commented on #64
Is there a way i can get the required jars so that i can manually import them for the time being..?

[2018-06-21 16:44] dragon66 commented on #64
@abdullaunais are you referring to the imageio jar? it is located in the lib folder.

[2018-06-22 02:41] abdullaunais commented on #64
Oh. found it. thanks.

[2018-06-26 22:41] suncds-git opened #75 "tiff pages are being written as a blank, white page, or solid black"
I have a scenario where I have a 678 page tiff file.  Unfortunately, the tiff file contains sensitive information, which prevents me from uploading the file.  When the pages are written to a new tif file, the pages are blank. I've played around some with the TiffOptions.  Changing the tiff options either produces a white page, or a solid black page.  Code snippet follows:

[code]
``

[2018-06-26 23:06] dragon66 commented on #75
I believe the issue is icafe does not support reading the input image

[2018-06-26 23:15] dragon66 commented on #75
Why do you want to read and write to some other tiff? Maybe there is but I don’t know any other tiff reader which could read pages one at a time. A workaround could be to first split the multi page tiff to single pages using icafe, then using Java imageio (with the plugin included in lib folder for tiff read support) to read the single page tiffs and do the write with icafe.

[2018-06-27 12:28] suncds-git commented on #75
The PageReader class (com.icafe4j.image.tiff.PageReader) reads one tiff image at a time.  I am doing the single read and write to another tiff, because I need to append tiff images to an exiting file.   Because of java out of memory issues,  I cannot read the entire tiff file into memory.  The code I have posted works with other tiff files, just not the one I am trying to write.

[2018-06-27 14:52] dragon66 commented on #75
Do you know what kinds of compression method the other images which works use? I don't think the code you posted will work for CCITT G3 and G4 will work as I am still working on them. It would work if the input tiff is compressed with method other than G3, G4 and JPEG.

You can find the compression method from the console output when you read the image.

[2018-06-27 20:34] dragon66 commented on #75
Good you found a workaround.

[2018-06-27 20:37] #75 closed

[2018-07-04 18:07] kpassoubady opened #76 "The POM for com.github.dragon66:icafe:jar:1.1-20151005.204941-1 is missing"
[WARNING] The POM for com.github.dragon66:icafe:jar:1.1-20151005.204941-1 is mis
sing, no dependency information available
Downloading: https://oss.sonatype.org/content/repositories/snapshots/com/github/
dragon66/icafe/1.1-SNAPSHOT/icafe-1.1-20151005.204941-1.jar

The download from sonatype repository is failing, can you take a look:
<repositories>
		<repository>
			<id>oss.sonatype.org</id>
			<n

[2018-07-04 18:49] dragon66 commented on #76
I am not sure why it is requesting the old version. I checked and see all the versions are for November and December 2017.

[2018-07-13 16:34] twoxfh opened #77 "Png encoding using upng.js techniques"
I created png's with this great library and thought it was very compact. I then took the output and used upng.js and was abile to save an additional 20 to 30 percent without noticable quality loss. I don't have the expertise to implement what they did in Java, however, maybe someone else does. Would be a nice addition to this or its own library.  Http://GitHub.com/photopea/UPNG.js

[2018-07-13 17:40] dragon66 commented on #77
@twoxfh thanks for pointing out this.
1. Although I tired my best to create smaller PNGs, icafe is not a tool to optimize PNG images.
2. Given there are different formats, color depths, transparency control for PNG images, without specifying the exact parameters/color depth you used to save the PNG in icafe, the comparison with other tools doesn't make much sense.
3. That being said, icafe does in

[2018-07-15 15:15] dragon66 commented on #77
@twoxfh I am not sure what you mean by "restrict colors and converts to rgba8." If you want to restrict colors for the purpose of smaller image size, why do you want to convert to rgba8?

ICAFE can save PNG images as indexed-color (with single color transparency), true-color (with or without alpha - alpha channel transparency) or grayscale. To save lossless images, use true-color; to save lossy im

[2018-07-16 15:15] twoxfh commented on #77
@dragon66

Thank you for your feedback, been very helpful. Not sure if you want to close this issue or keep it open for UPNG.js review. If I come up with any code worthy of a pull request, will submit.

[2018-07-16 16:36] dragon66 commented on #77
Thanks! Keep it open. I am also looking and comparing the results of ICAFE and UPNG to see what I can do to improve ICAFE.

[2018-07-19 00:00] dragon66 commented on #77
I have done a systematic comparison of the indexed color PNG created by tinyPNG and UPNG. The image generated by ICAFE usually a few KB larger than tinyPNG and more larger than UPNG. It is not a very big deal to me given those tools are specifically created for PNG optimization purposes.

One thing that does need to be addressed for ICAFE is the the quantization process which does not handle well

[2018-07-23 11:01] ivanooi opened #78 "Create MS XMP metadata"
Hi,

  Not sure why. I can't create the MS XMP. Custom XMP no problem.

This is the sample XMP generated by MS ( Right mouse click, properties -> Detail, Copyright field )
Thanks

[code]

This is the code :
`

         ls_ns = "http://purl.org/dc/elements/1.1/";
         ( XMPMetaFactory.getSchemaRegistry()).registerNamespace( ls_ns, "dc" );

         if( meta.doesArrayItemExist( ls_ns, "rights",

[2018-07-24 00:09] dragon66 commented on #78
Are you saying the code didn’t add the XMP to the image? How did you know it’s not there? Did you try to read the image meta data using icafe after?

[2018-07-24 00:11] ivanooi commented on #78
yes, I did. the XMP XML not there. and I had tired right click -> Properties -> Detail. You can't the info in Copyright filed

[2018-07-24 00:16] dragon66 commented on #78
When you do the console output, did you get the string you created?

[2018-07-24 00:32] ivanooi commented on #78
No... that the problem :-(

[2018-07-24 00:35] ivanooi commented on #78
but there's no problem inserting custom XMP XML.

[2018-07-24 01:13] dragon66 commented on #78
I am confused! What is MS XMP in your case and what do mean by Custom XMP?

[2018-07-24 01:23] ivanooi commented on #78
This is what generated by MS Windows when you keyin info thru Properties -> Detail
I would like to generate XMP like what MS Windows generated.

`<?xpacket begin="﻿" id="W5M0MpCehiHzreSzNTczkc9d"?>
<x:xmpmeta xmlns:x="adobe:ns:meta/" x:xmptk="Adobe XMP Core 5.1.0-jc003">
  <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
    <rdf:Description rdf:about=""
        xmlns:dc="http://p

[2018-07-24 02:11] dragon66 commented on #78
Now I see. So you create custom XMP manually and used Adobe API to try to create something similar to what MS did but could’t create the XMP properly?

[2018-07-24 02:48] ivanooi commented on #78
yes yes yes! :-D

[2018-07-24 02:49] ivanooi commented on #78
Actually I'm using icafe. This is the code :

`     ls_ns = "http://purl.org/dc/elements/1.1/";
     ( XMPMetaFactory.getSchemaRegistry()).registerNamespace( ls_ns, "dc" );

     if( meta.doesArrayItemExist( ls_ns, "rights", 1 )){
        meta.setArrayItem( ls_ns, "rights", 1, "My Copyright");
     }else{
        meta.deleteProperty( ls_ns, "rights");
        meta.setProperty ( ls_ns, "rights"   ,

[2018-07-24 22:09] ivanooi commented on #78
I see ...hmm....so , there is no way to add that using icafe, right?

[2018-07-25 00:36] dragon66 commented on #78
I guess you already added that but you won't see it when you right click as it tries to show the element value, not the attribute.

[2018-07-25 00:42] ivanooi commented on #78
anyway to store the data in element not?

[2018-07-25 00:50] ibrahimrajabli commented on #76
<dependency>
  <groupId>com.github.dragon66</groupId>
  <artifactId>icafe</artifactId>
  <version>1.1-SNAPSHOT</version>
</dependency>

yes 1.1-SNAPSHOT is red. in dependencies  :)

[2018-07-25 00:55] ivanooi commented on #78
If added at the correct place, I believe you will be able to see the data in Detail section... that the purpose :-P

[2018-07-25 00:56] dragon66 commented on #78
As an element or perhaps array element as shown in your initial question when you add it through MS.

You can can actually try insert directly the XMP file you extracted from MS in your original question using icafe, you should see it afterwards. That way, you will prove it is the issue I mentioned which prevent it from showing.

[2018-07-25 00:59] ivanooi commented on #78
direct modify the xml file. that's another way. I will try that. good idea

[2018-07-25 01:06] dragon66 commented on #76
So is it working now?

[2018-07-25 15:20] dragon66 commented on #78
I am closing this thread as the issue is not directly related to icafe. I tried insert the XMP string provided in your initial question and it works fine. As I mentioned earlier, icafe doesn't provide function to actually create XMP in the first place. It just insert ready-made XMP in string or byte array format into different kinds of images.

[2018-07-25 15:20] #78 closed

[2018-07-26 06:07] kpassoubady commented on #76
I have to comment all the code from iCafe to compile successfully, so that our automation still works without creating the gif files. I'll re-enable and see how it goes and update you.

[2018-07-28 10:47] ibrahimrajabli commented on #76
yes it is working awesome. if my project will success i want donate you. 😊

________________________________
From: dragon66 <notifications@github.com>
Sent: Wednesday, July 25, 2018 5:06 AM
To: dragon66/icafe
Cc: ibrahimrajabli; Comment
Subject: Re: [dragon66/icafe] The POM for com.github.dragon66:icafe:jar:1.1-20151005.204941-1 is missing (#76)

So is it working now?

—
You are receiving this bec

[2018-07-28 15:54] dragon66 commented on #76
@ibrahimrajabli thank you!

[2018-07-29 18:23] ivanooi commented on #78
Thanks. Finally I managed to use Adobe XMP to construct Microsoft XMP. Thanks again :-D

[2018-08-08 22:48] ben-manes opened #79 "TIF - ByteOrder.LITTLE_ENDIAN not respected"
I am using `TIFFTweaker.writeMultipageTIFF` with `TIFFOptions` set to `LITTLE_ENDIAN` and `CCITTFAX4`. Unfortunately the resulting image is big endian, as confirmed by ImageMagik (`$ identify -verbose out.tif | grep Endianess`). Toggling the setting doesn't seem to have an effect.

Since the source jar isn't being published, I can't step through it to debug. It does naively look correct in [TIFFWr

[2018-08-08 23:05] ben-manes commented on #79
I think it might be due to the header?

https://github.com/dragon66/icafe/blob/427b2fc778c2ba27cc1a2aae90a460e94e8e5925/src/com/icafe4j/image/tiff/TIFFTweaker.java#L3394-L3402

[2018-08-08 23:11] ben-manes commented on #79
That did it! I think you should be setting this for the caller, as it requires setting the writer manually.

[code]
[code]

[2018-08-09 18:56] dragon66 commented on #79
The method writeHeader(RandomAccessOutputStream rout) itself is called by different methods. Most of the methods already set the byte order before calling this method.

For this reason, I believe writeMultipageTIFF(RandomAccessOutputStream rout, ImageParam[] imageParam, BufferedImage ... images) method should be the right place to set the byte order before calling writeHeader(RandomAccessOutputStr

[2018-08-09 18:58] ben-manes commented on #79
That sounds reasonable to me. Thanks!

[2018-08-09 21:07] #79 closed

[2018-08-10 20:25] ben-manes commented on #79
Thanks! If I use `prepareForWrite` with `writeMultipageTIFF`, won't it write the header twice?

Just for fyi, my usage currently looks like:
[code]

[2018-08-10 20:29] dragon66 commented on #79
prepareForWrite() is supposed to be used along with writePage() and finishWrite() not together with any of the writeMultipageTIFF(). This is to save memory.

[2018-08-23 02:24] ivanooi opened #80 "metadata failed read large image but write ok"
Hi,

 I found out it had failed to read the metadata from a large image file (33MB)
but no problem in write.

Thanks

[2018-08-23 05:53] dragon66 commented on #80
Any details? What do mean by failed? Did you see any error message? If possible, put the image somewhere so that I can take a look.

[2018-08-23 07:32] ivanooi commented on #80
sure. i can email. u

[2018-08-23 07:35] ivanooi commented on #80
it throw java.lang.NegativeArraySizeException.

I managed to read the metadata using Apache Imaging lib.

[2018-08-23 07:40] ivanooi commented on #80
i had email you the google drive link. thanks again

[2018-08-23 17:41] flipmedley opened #81 "quad-law.tiff flagged as containing virus"
Downloaded the iCafe ZIP and Intego Virus Barrier (Mac OS X) flagged images/quad-law.tiff as having a virus.

[2018-08-25 02:35] dragon66 commented on #80
@ivanooi Thanks. I found the issue: the image itself doesn't contain a EOI marker and further more, it contains a huge chunk of data which could be used by the camera software itself but is garbage for normal viewer/decoder.

I have done some changes to catch this as well as the case when the image actually contains no EOI marker.

See the latest code change for details. It should work for your ca

[2018-08-25 02:50] dragon66 commented on #81
@flipmedley I have never heard anybody complained about this. I did perform a virus scan on this file and it is clean according to the report. I will keep it unless I receive other reports on this file.

[2018-08-25 05:59] ivanooi commented on #80
great! I will give it a try. Thank you so much! :-D

[2018-08-25 10:35] #81 closed

[2018-08-25 10:35] #80 closed

[2018-09-25 17:18] fhoner commented on #8
Any updates on this?

[2018-09-26 16:03] ben-manes opened #82 "TIF - "DateTime (24, expecting 20)""
I remember us fixing this a while back, but just got another report. I'll try to find a recent example to verify with.

[2018-09-26 18:05] ben-manes commented on #82
This appears to be a regression of #65, as I see the timezone in a test sample with `ImageMagick`.

[code]

[2018-09-26 18:11] ben-manes commented on #82
Looking for the format pattern, it seems you may have forgotten to update it in all places (remove ` z`):

https://github.com/dragon66/icafe/blob/0e0805f1bbbd393263b8b517a2010775f34f5d1d/src/com/icafe4j/image/writer/TIFFWriter.java#L851-L852

[2018-09-27 01:31] dragon66 commented on #82
@ben-manes You are actually right. I guess you are using the page by page write function and I missed the change for the writePage() function while fixing the previous bug you raised. Pushed in a new commit to fix this issue.

[2018-09-27 01:39] ben-manes commented on #82
Thanks! Is there a CI or do you manually push out new snapshots?

[2018-09-27 16:05] ben-manes commented on #82
hmm, well this is necessary for anyone using your library. I don't want to maintain my own builds.

It seemed to fail when trying to use [jitpack](https://jitpack.io/#dragon66/icafe), which might otherwise be an easy option. I think it's trying the maven build which results in an empty jar. Likely if you remove the pom it will fallback to ant, and that might work for me.

If you setup a free Travi

[2018-09-27 23:28] dragon66 commented on #82
Could be. Can you open a new issue for this so that we can close this one?

[2018-09-27 23:36] ben-manes commented on #82
Will do, thanks!

[2018-09-27 23:36] #82 closed

[2018-09-28 00:22] ben-manes opened #83 "Release snapshots again"
In #82, @dragon66 said that snapshots are no longer being pushed. Since formal releases are not being made, getting this back would be helpful.

A few options to consider:
1. [Jitpack](https://jitpack.io/#dragon66/icafe): This repository will build the repository, cache the results, and serve them as Maven dependencies. Currently it creates an empty jar because its trying to run the Maven build wh

[2018-10-02 02:10] ben-manes commented on #83
Any chance you can take a look at this? Otherwise I can try to fix your maven build for Jitpack to unblock a customer.

[2018-10-02 04:15] ben-manes commented on #83
@dragon66 please merge #84

[2018-10-02 05:45] ben-manes commented on #45
I modified the `pom.xml` in #84 to build the project with its custom layout, so as to not change @dragon66's workflow. This builds enough to allow for a stable snapshot (by commit hash) using jitpack.io. I think that's a decent compromise, especially since snapshots are no longer being released anyways.

[2018-10-02 18:57] dragon66 commented on #83
Thanks a lot @ben-manes. Too busy at work these days.

Anyway, the pull request is merged.

[2018-10-02 18:58] ben-manes commented on #83
No worries, I'm too busy for my hobby projects too. Just hit this for work :)

If you like this approach, you might update the README to reference jitpack instead for snapshots.

[2018-10-02 19:03] dragon66 commented on #83
To be frank, I am not sure how jitpack works yet. Need a bit time to brush up on that.

[2018-12-18 16:44] piegamesde opened #85 "OpenEXR support"
Is it possible to add image support for the OpenEXR format?

[2018-12-22 17:07] dragon66 commented on #85
Are you talking about read/write support? Seems like there is little/no metadata information for this format.

[2018-12-22 22:08] piegamesde commented on #85
Yes, I'd like to read and write them from Java in some way. What do you mean by "no metadata information"?

[2018-12-29 16:58] dragon66 commented on #85
I got it.  By "no metadata information", I mean there is no extra information embedded in the image such as parameters related to the camera used to take the picture, or author, copyright etc. for this type of image.

[2018-12-29 20:36] piegamesde commented on #85
I haven't really looked deeper into the format, but apparently it supports arbitrary metadata tags and values. But I'm more interested into reading and writing the pixel data than the metadata.

[2019-05-04 01:30] manu-aa-p opened #86 "Limit in IPTC CAPTION_ABSTRACT"
Hi,

When I write IPTC tag CAPTION_ABSTRACT, it seems that I can not exceed 250 characters.
From 251 characters, the tag content is no longer displayed in software such as ACDSee or XNView.

The following example works perfectly :
[code]
The result is correct :

![image](https://user-images.githubusercontent.com/50253868/57172024-03e4a800-6e1b-11e9-8c98-99937cac0f34.png)

But as soon as the size e

[2019-05-04 14:12] dragon66 commented on #86
@manu-aa-p I did a test to insert caption into one of the images. After that, I can retrieve using ICAFE. Unfortunately I cannot install external software on my computer. So I went online and uploaded the image and got the following information:

![image](https://user-images.githubusercontent.com/7292053/57180223-95bcd700-6e54-11e9-874d-87ec7c6704a5.png)

From the screenshot, the caption is well e

[2019-05-04 20:56] manu-aa-p commented on #86
Hi,

Thanks a lot for your answer. I didn't know imageforensic, very interesting.
I've found another free software for IPTC reading. The comparison illustrates the same phenomenon. The IPTC value is here, but is not interpreted in the same way when writed by ICAFE.

long caption writed by XNView :
![image](https://user-images.githubusercontent.com/50253868/57184548-3fd04980-6ebd-11e9-9fe7-0ddd0b32

[2019-05-04 21:33] dragon66 commented on #86
@manu-aa-p I figure out half of the reason: for ICAFE, the preferred place to put IPTC is Photoshop IRB block. There is however, another TIFF field which can be used for IPTC data directly. I asked someone else to help debug the issue and see similar issues as you described. Then we used XnView to insert a new IPTC data with caption string length bigger than 250. This time XnView and Photoshop bot

[2019-05-06 07:21] manu-aa-p commented on #86
Hi,

Thank you for this explanation and more widely for your responsiveness.
I found these pages about ExifTools that relate to the problem you are describing. The location of the information may vary in the file and the reading softwares may not find it.

http://owl.phy.queensu.ca/~phil/exiftool/TagNames/IPTC.html

https://forums.adobe.com/thread/2540298

[2019-05-06 12:23] dragon66 commented on #86
@manu-aa-p thanks for the information. As far as I know, there is no specification that dictates where is the standard place to put IPTC data in TIFF file. Only there is a specific TIFF field for IPTC. This is different between TIFF and JPEG. Theoretically I can see at least 3 places including as part of XMP to store IPTC data.

On the other hand, different softwares especially those which are not

[2019-05-07 11:13] #86 closed

[2019-05-21 16:26] ivanooi commented on #31
Hi,

Sorry, now these 2 fields failed to show up in Windows XP OS....
Windows Vista, 7 and 10 no problem. only Windows XP
if u need the photo, let me know...
Thanks again

![Greenshot 2019-05-21 00 42 49](https://user-images.githubusercontent.com/15061028/58113484-2dc60900-7c28-11e9-8ba2-5e7f4855f0d6.png)

[2019-05-21 20:23] dragon66 commented on #31
@ivanooi Send the photos to my email address and I will take a look.

[2019-05-22 12:52] ivanooi commented on #31
Hi,

Thanks for your advice. Photos sent. Basically, i had found a way to make the metadata nicely shown up in Vista, 7 and 10. No problems at all. really thanks for your help all the times.

Now only Win XP failed to display title and author...

[2019-05-23 01:28] dragon66 commented on #31
@ivanooi I can't figure out what the problem is except that the image you inserted metadata contains unicode strings and they are included in both XMP and Exif whereas the one you manually inserted metadata contains only Eixf with ASCII strings.

[2019-05-23 07:10] ivanooi commented on #31
I had tested insert only ascii but still, nothing showed up. ..

On Thu, 23 May 2019 at 09:28, dragon66 <notifications@github.com> wrote:

[2019-05-23 07:18] ivanooi commented on #31
This, only ascii for title and author..

On Thu, 23 May 2019 at 09:28, dragon66 <notifications@github.com> wrote:

[2019-05-24 07:21] ivanooi commented on #31
Hi, I had managed to insert the author and title into Win XP.
but I'm using Apache Imaging library....

![Greenshot 2019-05-24 15 19 06](https://user-images.githubusercontent.com/15061028/58309728-96370500-7e37-11e9-8857-b730f43017b6.png)

[2019-05-24 09:55] dragon66 commented on #31
@ivanooi Can you send me the image to do a comparison?

[2019-05-24 12:38] ivanooi commented on #31
Here is the photo. I can't see any different 😌

On Fri, 24 May 2019 at 17:55, dragon66 <notifications@github.com> wrote:

[2019-05-24 12:39] ivanooi commented on #31
![empty-out](https://user-images.githubusercontent.com/15061028/58328179-0f4c5180-7e64-11e9-9821-eb4b6f3759e4.jpg)

[2019-05-24 20:24] dragon66 commented on #31
@ivanooi Looks like Apache Imaging directly inserted those fields into Exif IFD instead of the Image IFD. However those are not standard Exif tags and I tried to view the information but they are not showing on my Windows 7 system.

[2019-05-25 00:25] ivanooi commented on #31
Hi, yea... you are right... showing nothing in Win10 as well but ok with XP.

On Sat, 25 May 2019 at 04:24, dragon66 <notifications@github.com> wrote:

[2019-05-25 00:31] ivanooi commented on #31
@dragon66 Hi, tested the photo you gave me. Only Author appear in Win XP
![Greenshot 2019-05-25 08 31 14](https://user-images.githubusercontent.com/15061028/58362230-836c1100-7ec7-11e9-8e71-ce0701064fa0.png)

[2019-05-25 01:56] dragon66 commented on #31
@ivanooi That actually confirmed my guess. As for the tile is not showing, that is because the image also contains an empty Image Description which becomes the preferred title but it is empty.

Anyway, I did some changes to the code to actually include Windows related tags in ExifTag enum. Now you need to insert those windows related tags to both Image IFD and Exif IFD. This is the only way you ca

[2019-05-25 02:33] ivanooi commented on #31
great! I will give it a try

On Sat, 25 May 2019 at 09:56, dragon66 <notifications@github.com> wrote:

[2019-05-25 04:34] ivanooi commented on #31
Hi,

Title not working.  Author ok now

I had tried the following way :
1) adding only this
exif.addExifField( ExifTag.WINDOWS_XP_TITLE , FieldType.WINDOWSXP

2) adding this 2
exif.addImageField(TiffTag.WINDOWS_XP_TITLE , FieldType.WINDOWSXP
exif.addExifField( ExifTag.WINDOWS_XP_TITLE , FieldType.WINDOWSXP

3)
exif.addImageField(TiffTag.IMAGE_DESCRIPTION  , FieldType.WINDOWSXP
exif.addImageField(T

[2019-05-25 13:44] dragon66 commented on #31
@ivanooi The second way should work. Try this one:

![AuthorTitle](https://user-images.githubusercontent.com/7292053/58370202-b0252600-7ed1-11e9-9cc4-a3110952822f.jpg)

[2019-05-25 14:48] ivanooi commented on #31
What had u done? I did try to spend some times looking at your code but can't find the problems at all
Great! Finally it works! 👍

![Greenshot 2019-05-25 22 47 12](https://user-images.githubusercontent.com/15061028/58370942-14320380-7f3f-11e9-81cd-bf7cb7d4dc75.png)

[2019-05-25 16:32] ivanooi commented on #31
source code not yet sync back, right? cant wait to try it. thanks again

[2019-05-25 16:41] dragon66 commented on #31
@ivanooi It is in sync. I pushed the changes yesterday and used the same code to insert Title and Author in the image I provided.

[2019-05-25 17:08] ivanooi commented on #31
I had found the problem,

exif.addImageField(TiffTag.IMAGE_DESCRIPTION   cause the title disappear.

Thanks!

now... I need to find a way to balance WinXP and Mac as Mac depends on TiffTag.IMAGE_DESCRIPTION

[2019-05-25 17:35] dragon66 commented on #31
@ivanooi I don't get why image description caused the title to disappear. If Windows XP read that field and take it as it's preference, it should show it. Otherwise, as you have already inserted Windows XP specific tags and it should show those tags.

When it comes to mac, it will just grab image description and works as well.

Did you add image description like this?

`exif.addImageField(TiffTag.

[2019-05-25 18:23] ivanooi commented on #31
Yes, I did but it still causes WinXP title to disappear.
luckily Win7, Vista, Win10 depend on this
exif.addImageField(TiffTag.WINDOWS_XP_TITLE, FieldType.WINDOWSXP,

so, I place the title into Exif xp subject field :
exif.addExifField(ExifTag.WINDOWS_XP_SUBJECT , FieldType.WINDOWSXP,

same thing, 7, vista and 10 subject fields gets it from
exif.addImageField(TiffTag.WINDOWS_XP_SUBJECT , FieldType.

[2019-06-14 19:22] dragon66 opened #87 "Return removed metadata as a map or list"
At the moment, removed metadata is dropped from the original image. It makes sense to return the removed metadata as a map of <MetadataType, Metadata> or simply a list of "Metadata" for further use.  Preferably a map.

[2019-06-15 01:41] dragon66 commented on #49
@gcmvy3 I checked in a fix for this issue.

[2019-06-15 01:47] #49 closed

[2019-06-18 20:07] dragon66 commented on #6
Start working on this one.

[2019-06-21 19:00] dragon66 commented on #87
Finished for JPEG image.

[2019-06-21 23:17] dragon66 commented on #87
Finished for TIFF image

[2019-06-22 00:04] #87 closed

[2019-06-26 00:50] coolboy opened #88 "How to read "Rights Usage Terms"?"
We want to keep all the copyright fields, but I just can't find a way in icafe to read "Rights Usage Terms" as example image below?

<img width="924" alt="Screen Shot 2019-06-25 at 5 49 21 PM" src="https://user-images.githubusercontent.com/404691/60143127-b11bd280-9771-11e9-9c56-ee6176304fe8.png">

[2019-06-26 00:51] coolboy commented on #88
![iptc_demopic1](https://user-images.githubusercontent.com/404691/60143181-ddcfea00-9771-11e9-82ef-30d4dffc7b3c.jpg)
Uploading the example jpg

[2019-06-26 16:21] dragon66 commented on #88
@coolboy The IPTC metadata implementation in ICFE is for IPTC-NAA only which is a legacy of the new XMP schema based IPTC. As a result, you will not be able to see all the IPTC fields defined by IPTC spec from the IPTC metadata extracted by ICAFE.

I tested the image you provided, the more detailed information including "Rights Usage Terms" are in the XMP metadata which ICAFE also extracted.

[2019-06-26 19:17] #12 closed

[2019-06-26 21:12] coolboy commented on #88
Hi @dragon66

Thanks for your reply this is what I found out as well

BTW how to loop through or get the raw xml from XMP using icafe?

By checking your example
https://github.com/dragon66/icafe/blob/master/src/com/icafe4j/test/TestMetadata.java#L68

I can't find the MetadataEntry in the current SNAPSHOT? Do we need to publish 1.2?

Thank you again

[2019-06-26 23:40] dragon66 commented on #88
@coolboy You can get the DOM tree by calling getMergedDocument() on an XMP instance. It will return a Document object which if you want, you can call XMLUtils.serializeToString(Document doc) or XMLUtilss.serializeToByteArray(Document doc) which are just as the names suggested will return either a XML string of the DOM tree or a byte array of the DOM tree. You can further save them to a file if you

[2019-06-27 02:34] coolboy commented on #88
thank you!

[2019-06-27 02:39] #88 closed

[2019-09-01 02:14] dragon66 commented on #83
Snapshot for the latest code is now published to Maven again!

[2019-09-01 02:16] #83 closed

[2019-09-06 20:32] dragon66 commented on #76
Resumed publishing SNAPSHOT again. Hope things will go more smoothly.

[2019-09-06 20:32] #76 closed

[2019-09-06 20:35] dragon66 commented on #50
The current code is compiled using Java 8. The source code it self is 1.5 compliant.

[2019-11-04 04:59] ivanooi opened #89 "Is it possible to store multiple small size (thumbnail) in one photo?"
Hi,

Is it possible to store multiple small size (thumbnail) in one photo? I'm thinking to do facial recognition indexing..

Thanks

[2019-11-04 10:43] dragon66 commented on #89
Not the public way but you can define your own XMP schema to suite your requirement.

[2019-11-04 11:55] ivanooi commented on #89
you mean store thumbnail as binary array in XMP?

[2019-11-04 14:07] dragon66 commented on #89
It doesn't matter how you save them as long as you can retrieve them back. Google same them as Base64 encoded PNG images.

[2019-11-04 20:06] dragon66 commented on #89
Here is a link to StackOverflow question I answered a while ago related to Google Cardboard Camera app and Cardbox Camera images:
[Reading JPG file's XMP metadata](https://stackoverflow.com/questions/23253281/reading-jpg-files-xmp-metadata/28788888#28788888)

[2019-11-05 01:04] ivanooi commented on #89
good point! I think that what I need. I can store faces in XMP.

Thanks

[2019-11-05 01:16] #89 closed

[2020-02-17 15:46] Istiakmorsalin opened #90 "How to get Depth map image(jpg) of an JPG image in Android?"
I have used the libraries following code to get a depth map image:

`JPEGTweaker.extractDepthMap()`

But the problem is that the only sample pictures are providing outputs. Other images like pictures taken on pixel 2 xl or pixel 3(Even in the portrait mode) are not working.

[2020-02-17 18:24] dragon66 commented on #90
Can you provide sample images for me to see if possible?

[2020-02-18 04:58] Istiakmorsalin commented on #90
@dragon66 Here are the images. I sent you these via email too. Please check.

First one is a pixel 2XL device photo.
![00100dPORTRAIT_00100_BURST20200218104958578_COVER](https://user-images.githubusercontent.com/2936695/74705227-5faedf00-523d-11ea-9b25-7a7cc383e501.jpg)

The second one is a bokeh image.
![Josefina_with_Bokeh](https://user-images.githubusercontent.com/2936695/74705264-8240f800-523d

[2020-02-24 23:32] dragon66 commented on #90
The current implementation for extracting depth map is based on an earlier format of Google depth map documentation. Google has since changed to something called dynamic depth map.

I did some homework regarding the new Google dynamic depth map format and although it specifies the depth map data is saved under one data URI called android/depth map, I couldn't find it in either the image you provid

[2020-03-03 16:07] lqlau opened #91 "OutOfMemoryError when reading in large tiff and writing it out as PDF"
This is my code:

public static void generatePdfFromTiff(File file) throws Exception {
    	FileInputStream fin = new FileInputStream(file.getAbsoluteFile());
    	PDDocument doc = new PDDocument();

    	PageReader reader = new PageReader();
    	BufferedImage pageBuffer = reader.getNextPage(fin);
    	while ( pageBuffer != null ) {
    		PDPage page = new PDPage();
    		doc.addPage(page);

[2020-03-08 18:55] dragon66 commented on #91
@lqlau I saw you already read tiff page by page and the OutOfMemoryError coming from the creation of the PDF by PDFBox itself not from ICAFE.

I have no idea how big the original tiff is and whether or not there is a way to assemble pages of PDF to one afterwards with PDFBox (I bet it should be). If that is possible, you can save the tiff to PDF page by page first then concate them together; or yo

[2020-03-12 17:58] lqlau commented on #91
Thanks @dragon66!  I will try to split a single page into smaller chunks/tile by calling getSubImage() and then stitch them together piece by piece by calling drawImage() to get a whole page.  I'll let you know if that works.

[2020-03-29 01:03] diuming opened #92 "Do you have any plan to support C or C++ library?"
Do you have any plan to support C or C++ library?
support platforms like Linux or macOS?

[2020-03-29 02:01] dragon66 commented on #92
Not in the near future. If I do, I might first try c#.

[2020-06-30 02:24] AndriiLaktionov commented on #74
I am trying to change the meta data of an image in android. I'm using the icafe library.
I used the following code.

            FileInputStream fin = null;
            try {
                fin = new FileInputStream(imgUri);
            } catch (IOException e) {
                e.printStackTrace();
            }
            FileOutputStream fout = null;
            try {
                fout = ne

[2020-06-30 09:24] dragon66 commented on #74
@AndriiLaktionov most probably your input imgUrl contains no or less number of bytes required by the PeekHeadInputStream.

[2020-06-30 12:29] AndriiLaktionov commented on #74
@dragon66
thanks for your reply.
Do you have android example to implement icafe?

[2020-06-30 13:13] dragon66 commented on #74
@AndriiLaktionov I am not an expert in Android. I do have a testing Android repository to test Android version of icafe: https://github.com/dragon66/MyAndroidApp

[2020-06-30 13:17] AndriiLaktionov commented on #74
Thanks

[2020-07-23 06:05] zhoukai0203 opened #93 "tiff格式图片加入xmp"
tiff格式图片加入xmp 文件会不断的变大，jpeg和png格式的没有问题，都是添加xmp

[2020-07-23 10:21] dragon66 commented on #93
不太明白你说的。具体给个例子。

[2020-08-05 20:06] WuyiSun opened #94 "Tiff图片insertExif总是throw Runtime Exception: Duplicate Tag"
Hi 你好，
我试图用Metadata.insertExif(fin, fout, updatedExif, true)的方式来更新一张tiff图片的某些exif tags。但是对于要更新的field，比如"Copyright" 或者 "Software", 在我用Metadata.insertExif(fin, fout, updatedExif, true) 的时候总是在报错 (Runtime Exception: Duplicate Tag)。 但是同样的代码对于jpg更新exif就没有问题。 想请教一下为什么?
附上代码片段:
[code]
使用的图片是您的测试文件exif.tiff (https://github.com/dragon66/icafe/blob/master/images/exif.tif)

谢谢！
Wuyi

[2020-08-11 09:43] painld6 opened #95 "ClassNotFoundException: Didn't find class "java.beans.Introspector""
我下载了 libs 中所有的 jar 包，在 Android 项目中添加对应的依赖，并按照 wiki 中提及的测试代码去获取图片中的信息，但运行的时候就报出这个 NoClassDefFoundError
I downloaded all the jar packages in libs, added the corresponding dependencies to the Android project, and followed the test code mentioned in the wiki to get the information in the picture, but this NoClassDefFoundError was reported when I ran it.
[code]

[2020-08-14 01:00] ivanooi opened #96 "HEIC/HEIF"
Hi,

 Any plan to support apple HEIC format? convert HEIC to JPEG, extract metadata which good enough.

Thanks

[2020-08-31 00:05] dragon66 commented on #95
如果你在android中使用，你需要用pixymeta-android而不是icafe。前者是abdroid版的icafe去掉了对AWT等的依赖性。Android版不支持图像操作但支持元数据获取和插入。

[2020-08-31 03:53] dragon66 commented on #94
Tiff本身对Exif来说是Image IFD，而JPEG的Exif是独立的。你插入的是一个Tiff tag，它属于Image IFD。对于Tiff，为了不破坏图像的完整性，除了极个别的tag，是不允许更新的。比如你如果不小心改动了图像的尺寸等等属性，图像解码就可能出现错误。基于以上原因，如果用Metadata.insertExif(fin, fout, updatedExif, true)的方式来更新已经存在的tag就会报错。JPEG和Tiff不同，它的Exif本身是和图像解码无关的。所以不会受到以上限制。

[2020-08-31 04:16] dragon66 commented on #96
No plan for any new image formats at the moment.

[2020-09-12 13:13] #96 closed

[2020-09-12 13:13] #94 closed

[2020-09-12 13:13] #95 closed

[2020-09-12 13:14] #92 closed

[2020-09-12 13:14] #91 closed

[2020-10-05 15:39] jimas14 opened #97 "Deleting specific IPTC fields? (Update: Enum IPTCApplicationTag.valueOf(String) returning IllegalArgumentException)"
First off, this package is great! We currently use drewnoakes for reading IPTC but now that we're using icafe to modify, we'll switch over to using it for reading as well.

The only issue I've experienced so far is in deleting specific IPTC fields. There are methods for removeMetadata given the MediaType (JPG, PNG, etc), but not any IPTC methods for deleting specific IPTC tag values in exif.

My g

[2020-10-05 21:21] dragon66 commented on #97
@jimas14 thanks for your comments. At the moment, you can only add certain IPTC fields which allow multiple values directly through insertMetadata. For your specific requirement, what you can do is a two step process: first call removeMetadata which will return the Metadata removed. second, create a new IPTC metadata, iterate through the removed IPTC, if certain field exists and it is not in the l

[2020-10-06 15:58] jimas14 commented on #97
@dragon66 For some reason I had assumed removeMetadata was void, but now see it returns the same kind of map readMetadata does. That will definitely work for my case.

Thanks so much for the quick reply.

[2020-10-06 16:24] dragon66 commented on #97
@jimas14 Glad to help. The initial implementation did return null but later changed to get a hold of the original data.

[2020-10-08 16:40] jimas14 commented on #97
@dragon66 I'm having trouble getting the enum constant given the string value of the field. For example when looping `for (MetadataEntry item : List<IPTCDataSet>)`, `item.getKey()` returns the string value "Object Name". `IPTCApplicationTag.valueOf(item.getKey())` then throws an `IllegalArgumentException` for string "Object Name".

I can't find any `valueOf(String value)` overrides in IPTCApplicat

[2020-10-08 19:29] jimas14 commented on #97
I ended up making a helper method in my class like

[code]

[2020-10-08 19:29] #97 closed

[2020-10-09 04:04] dragon66 commented on #97
@jimas14 As Java doesn't like us to override valueOf, and given the current implementation of ICAFE, calling valueOf will not work in your case. The way you implemented a helper method will work but not efficient as you have to loop for each call. What you can do is something similar to how IOTCApplicationTag does for fromTag method, to implement a fromName method which will look up enum by name.

[2020-10-15 16:15] lanthale opened #98 "TIFFReader cannot read multipage TIFF"
I am writing an open source image management applicaton and therefore using iCafe for reading TIFF files.

One of the user tried to load a multipage TIFF file which will be encoded using iCafe but I always get a blank page. I have already tried to use the PageReader but it does not help.

Here is the test file to download: [https://drive.google.com/file/d/1xdQgrKJT8jgFXw2J0mkgT63ulZggpUZD/view?usp

[2020-10-15 21:36] dragon66 commented on #98
@lanthale Unfortunately ICAFE doesn't have full support for all Tiff flavours especially Black and White fax encoding which is often used to encode multipage Tiff.

In this case, you need to read Tiff the way Java ImageIO does and iterate to get all the pages. There is a Java image plugin included in the lib folder which you need to include in the classpath and it will add support to Java ImageIO

[2020-10-16 06:55] lanthale commented on #98
Thanks allot for the fast feedback. I will try that.

[2020-10-16 06:55] #98 closed

[2020-12-10 23:30] phillipjohnson commented on #64
I believe since Java 9 there is [native TIFF support](https://docs.oracle.com/javase/9/docs/api/javax/imageio/plugins/tiff/package-summary.html).

Another option might be the [TwelveMonkeys](https://github.com/haraldk/TwelveMonkeys) library which "is a collection of plugins and extensions for Java's ImageIO."

[2021-01-11 15:41] thyung commented on #90
Pixel phone portrait mode photo is concatenated of 4 JFIF structure [https://en.wikipedia.org/wiki/JPEG_File_Interchange_Format](https://en.wikipedia.org/wiki/JPEG_File_Interchange_Format) .  Each JFIF structure is an jpeg image.

A JFIF structure starts with marker 0xFFD8 and ends with marker 0xFFD9. Therefore, we can split a portrait mode image into 4 jpeg files.

The following python code print

[2021-01-11 19:45] dragon66 commented on #90
@thyung thanks for the information. So if I understand it correctly, basically the JPG image actually consists of 4 images conforming to JFIF spec and one of it is the depth map?

Wen

[2021-01-12 16:02] thyung commented on #90
@dragon66 different phones have different ways to store depthmap.  My example photo was taken by Pixel 4.  I see a website tells iPhone depthmap is store in exif and can be extracted by

`exiftool -b -MPImage2 IMG_XXXX.jpg > IMG_XXXX_depth.jpg`

[2021-02-19 15:37] lanthale opened #99 "Inplace meta data update for JPG files"
I am using your lib for changing meta data in JPG files in my opensource app Photoslide github.com/lanthale/photoslide.

Actually I load the meta data in memory and change it but afterwards the only way I have found is saving a new file with the changed meta data. That means the file creation date will be updated.

Why is it not possible to manipulate the meta data without creating a new file so t

[2021-02-19 16:54] dragon66 commented on #99
@lanthale the main reason is to save memory. If you want to save to the same file, you have to read and process the image and put the image in memory before save it back to the original image. It is an override operation not append.  This may not be a big issue unless the image is small.

If you want to do in-place change, you can do the same thing first write to ByteArrayOutputStream and in the e

[2021-02-23 15:17] andreastauboeck opened #100 "broken dependency"
Downloading from jai-imageio: http://maven.geotoolkit.org/javax/media/jai_imageio/1.1/jai_imageio-1.1.jar fails.

Will there be a fix?

[2021-02-25 08:22] andreastauboeck commented on #100
resource is available now again, still consider my pull request as the the dependency seems to be flaky:

https://github.com/dragon66/icafe/pull/101

[2021-03-20 12:57] #99 closed

[2021-05-02 18:10] lanthale opened #102 "Writing byte array or int array to a file"
I have seen that there is a method for writing image data with provided byte array / int array. But this method is protected and not public. The reason why I am asking is that I am a JavaFX developer and want to write files. Normally in JavaFX you have the Image class and you can get out of every image a byte array or a int array of ARGB or BRGA or other types. But I need the method to write it to

[2021-05-03 03:52] dragon66 commented on #102
@lanthale The original method was made protected as I believe Image/BufferedImage are standard Java image wrapper and it would easier for the user to use the library.

I don't feel like exposing it directly from icefe but if it make sense for you to write directly using that method, the most straight forward way I can think of is to subclass each writer and make the method public. You don't need t

[2021-05-06 11:04] #102 closed

[2021-05-13 10:28] lanthale commented on #102
thank you for the information. I will do that.

[2021-05-13 10:33] lanthale commented on #36
I have created a java API for using libraw inside of javafx but you can also use it from Swing. Have a look into https://github.com/lanthale/librawfx

[2021-06-24 21:57] ilker-aktuna opened #103 "writing predefined xmp to a jpg file"
I am working on an Android app which converts stereo (dual fisheye) 360 degree panorama images to equirectangular format.
I need to write xmp data to the file to make the final image be played in 360 degree.

I have the xmp structure predefined (below)

is it possible to use icafe library to write this to an image ?
[code]

[2021-06-26 19:13] dragon66 commented on #103
@ilker-aktuna it is very easy to insert pre-defined xmp string into a JPEG file.

I thought I included an example in the test folder but seems there is no direct example for xmp insertion.

What you need to do is call Metadata.insertXMP() with several parameters like input, output stream as well as a xmp string and icafe will take care of it.

The format of your example seems correct.

Let me know

[2021-06-26 21:36] ilker-aktuna commented on #103
thanks. it worked !

now I have to find a similar way to add spherical metadata to 360 degree videos as well.
any idea if that is achieveable by icafe ?

[2021-06-26 23:41] dragon66 commented on #103
@ilker-aktuna not sure how videos incorporate the meta data but icafe can only add xmp to individual images.

Wen

[2021-06-27 12:42] ilker-aktuna commented on #103
I found some other library for injecting spherical metadata to video files.
it uses a precompiled library but it works.
thanks for the help.

[2021-06-28 00:49] #103 closed

[2021-07-05 03:33] anowak-ct opened #104 "Build error"
After cloning the repo I am getting the following error, when I try to build it.

Steps to reproduce:

[code]

[2021-07-05 03:46] anowak-ct opened #105 "Missing slf4j logger binding dependency"
When running a test class, I am getting the following error

SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See http://www.slf4j.org/codes.html#StaticLoggerBinder for further details.

See http://www.slf4j.org/codes.html#noProviders

[2021-07-05 03:51] anowak-ct opened #106 "TestMetadata does not work"
Run TestMetadata agsinst a few (valid!) jpeg images. Always getting the following error:

[code]

[2021-07-05 17:40] dragon66 commented on #105
@anowak-ct You can add the two jar files from the Lib folder of the repository to your classpath.

[2021-07-05 17:41] dragon66 commented on #104
@anowak-ct You can add the imageio jar file from the Lib folder to your classpath.

[2021-07-05 17:44] dragon66 commented on #106
Not sure it is related to the other errors you had but if a jpg doesn't contain a SOI segment it is not a valid one to icafe. If after you solve the other errors and you still have this issue, try put the image somewhere I can have access or email to me so that I can take a look.

[2021-11-05 11:01] tedca77 opened #107 "update to IPTC specification"
On 11/3/21 12:42 PM, David Riecks wrote:
Sabrina:

Thanks for your interest, and I hope you are able to attend the conference tomorrow.

Well, these new Accessibility properties are now officially part of the IPTC Photo Metadata specification, and it has already been incorpated into the latest release of ExifTool, but it will likely be a while before you see it in your favorite image management to

[2022-01-13 04:36] ivanooi opened #108 "copy metadata from raw to jpg failed."
Hi,

 from my test. I'm able to read the metadata from raw file but it failed to write it into jpg file.
There;s no error. but when I check the metadata. XMP and Exif missing.

thanks

sample jpg and raw file
https://drive.google.com/file/d/1sK7f_-rZd4-IVlrHVj8086kVPb33OE-d/view?usp=sharing

[test_icafe.java.zip](https://github.com/dragon66/icafe/files/7859957/test_icafe.java.zip)

`

		   Map<Met

[2022-01-18 12:57] ivanooi commented on #108
ok. I had solved the issues. thanks :-D.

Exif exif2 = new JpegExif();

exif2.setExifIFD( orifinalExif1.getExifIFD());

[2022-01-18 12:58] #108 closed

[2022-08-12 13:19] Exlit opened #110 "Repositories are blocked on current mnv version"
Hi! First of all thank you for such library. It was very usefull for my project. But I have an issue with building maven project now. When I am adding to pom.xml repository it says that repositories are blocked. So to make your lib work I just add the jar file to project folder but when I am building the project, I am getting: package com.icafe4j.image.meta does not exist

[2022-08-12 15:02] dragon66 commented on #110
I am not aware of the library blocked by Maven and has no idea for what reason. For temporary work, I believe you can add the Lib as a local repository and change you pom to point to it. Not portable though.

[2022-08-13 10:32] Exlit commented on #110
Hi! Thank you for the quick response. Here is the message I am getting:
<img width="810" alt="Screenshot 2022-08-13 at 12 29 09" src="https://user-images.githubusercontent.com/41736891/184479787-872dd0f0-125b-4580-af7c-a8f9d68676f4.png">

When I am trying to install an older version of maven, I am getting:

_Error: maven@3.5 has been disabled because it is not maintained upstream!_

It happens wit

[2022-08-13 10:49] Exlit commented on #110
Ok. So I resolved it using this: https://stackoverflow.com/questions/4491199/build-maven-project-with-propriatery-libraries-included/4491343#4491343

Thank you again. Hope it could be useful for others.

[2022-08-13 10:49] #110 closed

[2022-08-26 19:06] morganaf88 opened #111 "Deploy package to github registry"
Would you be willing to deploy package to the github registry?